<script>
function changeCategory() {
	$('#selectedCategory').hide();
	$('#setCategory').show();
}
function chooseParentCategory(id) {
	$('#secondCategory').find('div').hide();
	$('#jiantou').show();
	$('#sub_category_' + id).show();
}
function chooseSubCategory(pid, sid, m, pc, c) {
	$('#parent_category_id').val(pid);
	$('#category_id').val(sid);
	$('#setCategory').hide();
	$('#chosen_category').html(m);
	$('#selectedCategory').show();
	$('#formInputBox').find('div.item').each(function() {
		if($(this).attr('parent_item_for') || $(this).attr('item_for')) {
			$(this).hide();
			var show_this_item = false;
			if($(this).attr('parent_item_for')) {
				var pfors = $(this).attr('parent_item_for').split('_');
				for(var i=0;i<pfors.length;i++) {
					if(pfors[i] == pc) {
						show_this_item = true;
					}
				}
			}
			if($(this).attr('item_for')) {
				var fors = $(this).attr('item_for').split('_');
				for(var i=0;i<fors.length;i++) {
					if(fors[i] == c) {
						show_this_item = true;
					}
				}
			}
			if(show_this_item) {
				$(this).show();
			}
		}
	});
	if(c == 'ershoujiaoche' || c == 'ershouhuoche' || c == 'ershoufang' || c == 'xiezilouchushou' || c == 'xiezilouchuzu' || c == 'jingyingzhuanrang') {
		if($('#setPrice').find('input').val() == "元") {
			$('#setPrice').find('input').val("万元");
		}
	} else {
		$('#setPrice').find('input').val($('#setPrice').find('input').val().replace("万元", "元"));
	}
}
function chooseArea() {
	var area_id = $('#select_area').val();
	if(area_id != "") {
		$('#select_area_location').append($('#location_' + area_id).html());
	} else {
		$('#select_area_location').append($('#location_0').html());
	}
	$('#select_location').remove();
	$('#select_area_location').find('select.tmp_select_location').attr("id", "select_location");
	$('#select_area_location').find('select.tmp_select_location').attr("name", "location_id");
}
function formValidation() {
	var no_error = true;
	$('div.required').each(function() {
		if(!$(this).is(":hidden")) {
			var _id = $(this).attr("id");
			var _e = false;
			if(_id == "setCategory") {
				_e = true;
			} else if(_id == "setTitle") {
				if($(this).find('input').val() == "") {
					_e = true;
				}
			} else if(_id == "setArea") {
				if($('#select_area').val() == "") {
					_e = true;
				}
			} else if(_id == "setFaburen") {
				if(!$('#shangjia')[0].checked && !$('#geren')[0].checked) {
					_e = true;
				}
			} else if(_id == "setFaburen4fang") {
				if(!$('#zhongjie4fang')[0].checked && !$('#geren4fang')[0].checked) {
					_e = true;
				}
			} else if(_id == "setContact") {
				if($(this).find('textarea').val().replace(/(.*\n.*)*联系方式：/,"") == "") {
					_e = true;
				}
			} else if(_id == "setPassword") {
				if($(this).find('input').val() == "" || $(this).find('input').val().length < 4) {
					_e = true;
				}
			} else if(_id == "setPasswordConfirm") {
				if($(this).find('input').val() == "" || $(this).find('input').val() != $('#setPassword').find('input').val()) {
					_e = true;
				}
			}
			if(_e) {
				no_error = false;
				$(this).find("div.checkError").html($(this).attr('validationMsg'));
			} else {
				$(this).find("div.checkError").html("");
			}
		}
	});
	if(no_error) {
		if($('#setPrice').find('input').val() == "元" || $('#setPrice').find('input').val() == "万元") {
			$('#setPrice').find('input').removeAttr('name');
		}
		if($('#setGongzi').find('input').val() == "元") {
			$('#setGongzi').find('input').removeAttr('name');
		}
		if($('#setMianji').find('input').val() == "平米") {
			$('#setMianji').find('input').removeAttr('name');
		}
		if($('#setNianling').find('input').val() == "岁") {
			$('#setNianling').find('input').removeAttr('name');
		}
		return true;
	} else {
		return false;
	}
}
function removePreview(x) {
	$(x).parents('li').remove();
}
</script>

<style type="text/css">
	body { background:none repeat scroll 0 0 #FFFCCC; font-family:Arial,Helvetica,sans-serif; font-size:12px;
	line-height:1.6; } body, hr, form, p, img { border:0 none; margin:0; padding:0; } a:link { color:#0066CC;
	text-decoration:none; } a:visited { color:#800080; text-decoration:none; } .nohist a:visited { color:#0066CC; }
	.nohist a:hover, a:hover { color:#FF0000; text-decoration:underline; } #header, #subheader, #footer, #container {
	margin:0 auto; padding:0 10px 10px; width:980px; } #header { background:none repeat scroll 0 0 #FFFCCC; padding:4px
	10px; } #footer { padding-top:10px; text-align:center; } #container { background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #B1D5F2; } #subheader { background:none repeat scroll 0 0 #FFFFFF; padding:5px 0; } #content {
	background:none repeat scroll 0 0 #FFFFFF; float:left; width:800px; } #sidebar { border-left:1px solid #C5EC83;
	float:right; padding:5px 0 5px 10px; width:160px; } .block h2 { background-color:#C5EC83; font-size:14px; margin:0;
	padding:2px 5px; } .block h3 { font-size:14px; margin:0; padding:2px 0; } .blank5, .blank10 { clear:both; height:10px;
	overflow:hidden; } .blank5 { height:5px; } .datagrid ul, .datagrid ol { margin:0; padding:0; } .datagrid li {
	font-size:14px; line-height:2; list-style:none outside none; } table.tab { table-layout:auto; } table.tab td {
	border-bottom:1px solid #C5EC83; font-size:14px; padding:0 8px; text-align:center; } table.tab .on {
	border-color:#C5EC83 #C5EC83 -moz-use-text-color; border-style:solid solid none; border-width:1px 1px 0;
	font-weight:bold; } table.tab a:visited { color:#0066CC; } table.tab a:hover, a:hover { color:#FF0000;
	text-decoration:underline; } #filter { border:1px solid #C5EC83; line-height:1.8; padding:5px; } #filter a, #filter
	strong { padding-left:5px; } #filter a:visited { color:#0066CC; } #filter a:hover, a:hover { color:#FF0000;
	text-decoration:underline; } .datagrid ol { margin-top:5px; } .datagrid ol a, .datagrid li, .datagrid b, .datagrid i,
	.datagrid em { font-style:normal; padding-left:5px; } .datagrid ol li i { color:olive; } .datagrid ol li b {
	color:#666666; font-weight:normal; } .datagrid ol li em a { background:none repeat scroll 0 0 #EEEEEE; padding:2px; }
	.datagrid ul li em a, .datagrid ul li em a:hover { color:black; } .datagrid .head { background:none repeat scroll 0 0
	#C5EC83; font-weight:bold; } .datagrid .head a { color:black; } .datagrid .line { background:none repeat scroll 0 0
	#C5EC83; height:1px; overflow:hidden; } h1 { font-family:微软雅黑,黑体; font-size:20px; font-weight:normal; margin:5px 0; }
	h1 i { color:olive; } #content p { font-size:14px; line-height:23px; } #content img { margin:0 0 0 3px; } #logo {
	display:block; float:left; margin:0 5px 0 0; } #area { color:#0D0057; display:block; float:left; font-family:微软雅黑,黑体;
	font-size:30px; font-weight:bold; line-height:1; margin:18px 5px 0; } h3 { font-size:14px; margin:0; } #categories {
	background-color:white; float:left; margin-left:-5px; padding:5px 0; width:810px; } #categories table {
	font-size:14px; } #categories h2 { background-color:#C5EC83; margin:0; padding:2px 0; } #categories h2 a {
	color:black; font-size:14px; } #categories td { vertical-align:top; width:20%; } #categories a, #categories span {
	padding-left:5px; } #categories small { color:#666666; font-size:9px; padding-left:2px; }
	img.imgBorder{padding:5px;background:#FFF;border:1px solid #EBEBEB;margin:2px;}
	table{border-collapse:collapse;border-spacing:0;} #content{ color:#000; font-size:14px;} #content .w760{ width:740px;
	margin:0 auto 5px auto; font-size:14px;} div.tips{ font-size:12px;background:#FFFFCC
	url(/images/tips_bg.gif) no-repeat 5px 5px; padding:5px 5px 5px 40px; border:1px
	solid #FFE3B9;color:#000;} .errMsg{ border:1px solid #FF0000; padding:5px; background:#FEE9E1
	url(/images/error-32.gif) no-repeat 5px 10px; padding-left:45px; color:#000}
	.successMsg{border:1px solid #5EBF01; padding:5px; background:#E7FBC0
	url(/images/success-32.gif) no-repeat 5px 10px; padding-left:45px; color:#000}
	.alertMsg{border:1px solid #FFE304; padding:5px 10px; margin:10px 0; background:#FEF8D1;color:#000} #postForm .item
	li{display:inline;margin-right:5px;} #postForm .item li a{white-space:nowrap; } #postForm table label{white-space:
	normal;} * html #postForm table label{white-space:nowrap;} *+html #postForm table label{white-space:nowrap;} /*post v2
	*/ #postForm .item{ clear:both; padding:2px; margin:1px 0; width:980px;} #postForm .item td.attribute {
	width:120px;text-align:right;} #postForm .item td{ vertical-align:top; line-height:21px;} #postForm .item
	.value,#postForm .item .attribute{ padding-top:2px;} #postForm .item td.value{ padding-left:5px; color:#000} #postForm
	#imagesTable{width:580px;} #postForm #imagesUl li{ width:90px; text-align: center; float:left;} #postForm #imagesUl
	.imgUpload{ border:1px solid #FFD06F;padding:9px;background:#FFF; margin:2px;} #postForm #imagesUl .imgUpError{
	border:1px solid #FF6666; background:url(/images/img_error.gif) no-repeat 5px 5px;
	padding:5px;margin:2px; text-align:center; width:64px; height:64px;} #postForm .item .postFormCheckBox li{
	height:21px; display:block; float:left; max-width: 200px; min-width:140px;} *html #postForm .item .postFormCheckBox
	li{ width:140px} *+html #postForm .item .postFormCheckBox li{ width:140px} #postForm .item .postFormRadio li{
	height:21px; display:block; float:left; max-width: 200px; min-width:140px;} *html #postForm .item .postFormRadio li{
	width:140px} *+html #postForm .item .postFormRadio li{ width:140px} /*form*/ .input,.textarea{padding:3px 2px 1px 2px;
	font-size:14px;border-top:1px solid #666666; border-left:1px solid #666666; border-bottom:1px solid #C2C2C2;
	border-right:1px solid #C2C2C2; background:#F5F5F5;} .textarea{ line-height:1.35;width:580px;} .button{padding:5px
	20px; font-size:14px;} #optContent{border:1px solid #DDD} #optContent table td{padding:2px;} #categoryBox div{
	width:150px; float:left; padding-bottom:5px; margin-left:5px;} #categoryBox h2{line-height:1.7; padding-left:5px;
	background:#F3F3F3; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;} #categoryBox
	li{font-size:14px;line-height:1.7; width:140px;padding-left:5px;} .checkError{ background:#FEE9E1
	url(/images/error.gif) no-repeat 3px 4px; padding-left:20px; font-size:12px;
	color:#FF0000} .error,.ok,.load{padding:2px 5px 2px 25px; color:#000; font-size:12px;} .error{ border:1px solid
	#FF0000; background:#FEE9E1 url(/images/error.gif) no-repeat 5px 6px;} .ok{
	border:1px solid #5EBF01; background: #E7FBC0 url(/images/ok.gif) no-repeat 5px 6px;}
	.load{ border:1px solid #FFBD33; background: #FFFFCC url(/images/ajax_loader.gif) no-repeat 5px 6px;}
	.succeed{clear:both;margin-bottom:10px;border:2px solid #5ABD00; padding:10px 5px 10px 50px;background:#E7FBC0
	url(/images/success-32.gif) no-repeat 7px 7px;} .succeed h2{ padding:5px;
	margin:0; font-size:14px;} .succeed p{ padding:0; margin:0;} .succeed .red{ color: #FF0000} .item label{
	cursor:pointer} .hidden{display:none;} #content #firstCategory,#content #secondCategory{line-height:1.5;
	font-size:14px;} #firstCategory{ border:1px solid #7F9DB9; padding:1px; width:100px; background:#fff} #firstCategory
	div{border:1px solid #716F64; border-bottom:1px solid #F1EFE2; border-right:1px solid #F1EFE2} #content #firstCategory
	a{text-decoration:none; border:1px solid #fff;width:95px; padding-left:5px; display:block; background:#fff;
	white-space:nowrap; color:#000} #content #firstCategory a:hover{background:#316AC5
	url(/images/3-4.gif) no-repeat 90px 6px; color:#fff;text-decoration:none; } #content
	#firstCategory a.on{ background:#316AC5 url(/images/3-4.gif) no-repeat 90px 6px;
	color:#fff;text-decoration:none;} #content #secondCategory table{ background:#fff;border:1px solid #716F64;
	border-bottom:1px solid #F1EFE2; border-right:1px solid #F1EFE2} #content #secondCategory a{display:block;
	width:135px;text-decoration:none; border:1px solid #fff;padding-left:5px; white-space:nowrap;
	color:#000;line-height:1.5; font-size:14px;} #content #secondCategory div{border:1px solid #7F9DB9; padding:1px;
	background:#fff; position: relative; z-index:98} #categoryCheck{ position:relative; z-index:99} #content
	#secondCategory a:hover{background:#316AC5; color:#fff;text-decoration:none; } #content #secondCategory
	a.on{background:#316AC5; color:#fff;text-decoration:none;} #jiantou,#categoryBox{ display:none;} #selectedCategory small{
	font-size:12px;} #postNav{ line-height:1.8;} #bangui{border:1px solid #fff; position:absolute; background:#FAFAFA;
	top:42px; margin-left:700px; width:270px; padding:5px 10px; font-size:12px} #content select{ font-size:14px;}
	span.red{color:red} /*beta*/ img.imgBorderBeta{padding:9px;background:#FFF;border:1px solid #EBEBEB;margin:2px;}
	span.imgBeta{ display:block; background:#EEEEF0; font-size:12px; padding:2px 0 0 0; color:#5B5B68; margin:0 3px;
	margin-top:-2px; border:1px solid #EEEEE7} #postTable{background:url(/images/jiantou.gif) no-repeat -500px 0;}
</style>

<!-- header0 -->
<div id="header" class="nohist">
	<span id="header_links" style="float:right;text-align:right">
		<%= render :partial=>'share/header' %>
	</span>
	<a href="/"><%=@ct.name+SITE_TITLE%></a>
	&raquo; 免费发布信息（无需注册）
	<div style="clear:both">
	</div>
</div>
<!-- header1 -->

<!-- content0 -->
<div id="container">
	<div id="sidebar"></div>
	<div id="content" style="float:none;">
		<div id="postTable">
			<div style="padding-left: 124px;">
				推荐：我们建议您注册成为<%=SITE_TITLE%>的注册用户，这样发布管理信息更方便。
				<a target="_blank" href="/site/zhuce">点击这里注册</a>
			</div>
			<!-- post form0 -->
			<form id="postForm" method="POST" action="/message" onsubmit="return formValidation();">
				<input type="hidden" name="<%=request_forgery_protection_token%>" value="<%=form_authenticity_token%>" />
				<div id="formInputBox">
					<!-- choose category0 -->
					<div class="item" id="selectedCategory" style="display:none">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>选择类目：
								</td>
								<td valign="top" class="inputTd">
									<div id="postNav">
										<span id="chosen_category"> » </span>
										<small><a onclick="return changeCategory()" href="#">重选类目</a></small>
										<small id="number_of_messages" style="color: rgb(0, 153, 0);">本类目一天可以发布3条信息。</small>
									</div>
								</td>
							</tr>
						</table>
						<input id="parent_category_id" type="hidden" name="parent_category_id" value="1" />
						<input id="category_id" type="hidden" name="category_id" value="1001" />
					</div>
					<div class="item required" id="setCategory" validationMsg="请选择一个大类目和一个小类目！">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>选择类目：
								</td>
								<td valign="top" id="firstCategory">
									<div>
										<% @pcs = Category.find_by_sql("select * from category where parent_category_id is null") %>
										<% @pcs.each do |pc| %>
										<a href="#" onclick="chooseParentCategory(<%=pc.id%>);"><%=pc.name%></a>
										<% end %>
									</div>
								</td>

								<td valign="middle" style="vertical-align:middle">
									<img id="jiantou" src="/images/right_arrow.gif"	align="absmiddle" style="display:none" />
								</td>
								<td>
									<div id="secondCategory">
										<% @pcs.each do |pc| %>
										<div id="sub_category_<%=pc.id%>" style="display: none">
											<table>
												<tr>
													<% (pc.sub_categories / 7).each do |g| %>
													<td>
														<% g.each do |c| %>
														<a href="#" onclick="chooseSubCategory(<%=pc.id%>, <%=c.id%>, '<%=pc.name%> » <%=c.name%>', '<%=pc.slug%>', '<%=c.slug%>');"><%=c.name%></a>
														<% end %>
													</td>
													<% end %>
												</tr>
											</table>
										</div>
										<% end %>
									</div>
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- choose category1 -->
					<!-- input title0 -->
					<div class="item required" id="setTitle" validationMsg="请填写信息标题！">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>标题：
								</td>
								<td valign="top" class="inputTd">
									<input type="text" class="input" name="title" size="50" maxlength="50" />
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- input title1 -->
					<% @areas = Area.find_all_by_city_id(@ct.id) %>
					<% if !@areas.blank? %>
					<!-- input location0 -->
					<div class="item required" id="setArea" validationMsg="请选择您所在的地区！">
						<div id="location_0" style="display:none">
							<select style="width:100px;" class="tmp_select_location">
							<option value="">&nbsp;</option>
							</select>
						</div>
						<%
							@areas.each do |a|
								ls = Location.find_all_by_area_id(a.id)
								if !ls.empty?
						%>
						<div id="location_<%=a.id%>" style="display:none">
							<select style="width:100px;" class="tmp_select_location">
							<option value="">&nbsp;</option>
							<% ls.each do |l| %>
							<option value="<%=l.id%>"><%=l.name%></option>
							<% end %>
							</select>
						</div>
						<%
								end
							end
						%>
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>所在地区：
								</td>
								<td id="select_area_location" valign="top" class="inputTd">
									<select id="select_area" name="area_id" style="width:100px;" onchange="chooseArea()">
										<option value="">&nbsp;</option>
										<% @areas.each do |a| %>
										<option value="<%=a.id%>"><%=a.name%></option>
										<% end %>
									</select>
									<select id="select_location" name="location_id" style="width:100px;display:<%= (@ct.slug == 'beijing' || @ct.slug == 'shanghai') ? '':'none' %>">
										<option value="">&nbsp;</option>
									</select>
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- input location1 -->
					<% end %>
					<!-- input jutididian0 -->
					<div class="item" parent_item_for="ershou_cheliang_fang_chongwu" item_for="yiqilvyou" style="display: none">
						<table>
							<tr>
								<td class="attribute">具体地点：</td>
								<td class="inputTd">
									<input type="text" maxlength="30" size="20" class="input" name="other_attrs_具体地点" value="">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jutididian1 -->
					<!-- input gongsimingcheng0 -->
					<div class="item" parent_item_for="zhaopin" item_for="cuxiao_mote_qitajianzhi" style="display: none">
						<table>
							<tr>
								<td class="attribute">公司名称：</td>
								<td class="inputTd">
									<input type="text" maxlength="50" size="30" class="input" name="other_attrs_公司名称" value="">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input gongsimingcheng1 -->
					<!-- input gongsidizhi0 -->
					<div class="item" parent_item_for="zhaopin" item_for="mote_qitajianzhi" style="display: none">
						<table>
							<tr>
								<td class="attribute">公司地址：</td>
								<td class="inputTd">
									<input type="text" maxlength="50" size="30" class="input" name="other_attrs_公司地址" value="">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input gongsidizhi1 -->
					<!-- input gongzuodidian0 -->
					<div class="item" item_for="cuxiao" style="display: none">
						<table>
							<tr>
								<td class="attribute">工作地点：</td>
								<td class="inputTd">
									<input type="text" maxlength="50" size="30" class="input" name="other_attrs_工作地点" value="">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input gongzuodidian1 -->
					<!-- input diannaotype0 -->
					<div class="item" item_for="diannao" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="bijiben" type="radio" name="other_attrs_类型" value="笔记本"><label for="bijiben">笔记本</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shangwangben" type="radio" name="other_attrs_类型" value="上网本/iPad"><label for="shangwangben">上网本/iPad</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="taishiji" type="radio" name="other_attrs_类型" value="台式机"><label for="taishiji">台式机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xianshiqi" type="radio" name="other_attrs_类型" value="显示器"><label for="xianshiqi">显示器</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingpan" type="radio" name="other_attrs_类型" value="硬盘"><label for="yingpan">硬盘</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="neicun" type="radio" name="other_attrs_类型" value="内存"><label for="neicun">内存</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input diannaotype1 -->
					<!-- input shoujitype0 -->
					<div class="item" item_for="shouji" style="display: none">
						<table>
							<tr>
								<td class="attribute">品牌：</td>
								<td class="inputTd">
									<input id="nuojiya" type="radio" name="other_attrs_品牌" value="诺基亚"><label for="nuojiya">诺基亚</label>
									&nbsp;&nbsp;
									<input id="iphone" type="radio" name="other_attrs_品牌" value="iPhone"><label for="iphone">iPhone</label>
									&nbsp;&nbsp;
									<input id="sanxing" type="radio" name="other_attrs_品牌" value="三星"><label for="sanxing">三星</label>
									&nbsp;&nbsp;
									<input id="suoai" type="radio" name="other_attrs_品牌" value="索爱"><label for="suoai">索爱</label>
									&nbsp;&nbsp;
									<input id="motuoluola" type="radio" name="other_attrs_品牌" value="摩托罗拉"><label for="motuoluola">摩托罗拉</label>
									&nbsp;&nbsp;
									<input id="heimei" type="radio" name="other_attrs_品牌" value="黑莓"><label for="heimei">黑莓</label>
									&nbsp;&nbsp;
									<input id="xiapu" type="radio" name="other_attrs_品牌" value="夏普"><label for="xiapu">夏普</label>
									&nbsp;&nbsp;
									<input id="lg" type="radio" name="other_attrs_品牌" value="LG"><label for="lg">LG</label>
									&nbsp;&nbsp;
									<input id="htc" type="radio" name="other_attrs_品牌" value="多普达/HTC"><label for="htc">多普达/HTC</label>
									&nbsp;&nbsp;
									<input id="guochan" type="radio" name="other_attrs_品牌" value="国产品牌"><label for="guochan">国产品牌</label>
									&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input shoujitype1 -->
					<!-- input zhaoxiangjitype0 -->
					<div class="item" item_for="zhaoxiangji" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="zhaoxiangji" type="radio" name="other_attrs_类型" value="照相机"><label for="zhaoxiangji">照相机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shexiangji" type="radio" name="other_attrs_类型" value="摄像机"><label for="shexiangji">摄像机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input zhaoxiangjitype1 -->
					<!-- input shumatype0 -->
					<div class="item" item_for="shuma" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="mp3" type="radio" name="other_attrs_类型" value="MP3"><label for="mp3">MP3</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="mp4" type="radio" name="other_attrs_类型" value="MP4"><label for="mp4">MP4</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="youxiji" type="radio" name="other_attrs_类型" value="游戏机"><label for="youxiji">游戏机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input shumatype1 -->
					<!-- input dianqitype0 -->
					<div class="item" item_for="dianqi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="bingxiang" type="radio" name="other_attrs_类型" value="冰箱"><label for="bingxiang">冰箱</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="kongtiao" type="radio" name="other_attrs_类型" value="空调"><label for="kongtiao">空调</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="dianshi" type="radio" name="other_attrs_类型" value="电视"><label for="dianshi">电视</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xiyiji" type="radio" name="other_attrs_类型" value="洗衣机"><label for="xiyiji">洗衣机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input dianqitype1 -->
					<!-- input jiajutype0 -->
					<div class="item" item_for="jiaju" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="chuang" type="radio" name="other_attrs_类型" value="床/床垫"><label for="chuang">床/床垫</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="guizi" type="radio" name="other_attrs_类型" value="柜子"><label for="guizi">柜子</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhuoyi" type="radio" name="other_attrs_类型" value="桌椅"><label for="zhuoyi">桌椅</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shafa" type="radio" name="other_attrs_类型" value="沙发"><label for="shafa">沙发</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jiajutype1 -->
					<!-- input fushitype0 -->
					<div class="item" item_for="fushi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="nvzhuang" type="radio" name="other_attrs_类型" value="女装"><label for="nvzhuang">女装</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="nanzhuang" type="radio" name="other_attrs_类型" value="男装"><label for="nanzhuang">男装</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhongxingzhuang" type="radio" name="other_attrs_类型" value="中性装"><label for="zhongxingzhuang">中性装</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shiping" type="radio" name="other_attrs_类型" value="饰品"><label for="shiping">饰品</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input fushitype1 -->
					<!-- input xiemaotype0 -->
					<div class="item" item_for="xiemao" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="nvxie" type="radio" name="other_attrs_类型" value="女鞋"><label for="nvxie">女鞋</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="nanxie" type="radio" name="other_attrs_类型" value="男鞋"><label for="nanxie">男鞋</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xiangbao" type="radio" name="other_attrs_类型" value="箱包"><label for="xiangbao">箱包</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input xiemaotype1 -->
					<!-- input yingertype0 -->
					<div class="item" item_for="yinger" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="yingershiping" type="radio" name="other_attrs_类型" value="食品"><label for="yingershiping">食品</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingerfushi" type="radio" name="other_attrs_类型" value="服饰"><label for="yingerfushi">服饰</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wanju" type="radio" name="other_attrs_类型" value="玩具"><label for="wanju">玩具</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingeryongpin" type="radio" name="other_attrs_类型" value="用品"><label for="yingeryongpin">用品</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input yingertype1 -->
					<!-- input shutype0 -->
					<div class="item" item_for="shu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="tushu" type="radio" name="other_attrs_类型" value="图书"><label for="tushu">图书</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="baozhi" type="radio" name="other_attrs_类型" value="报纸"><label for="baozhi">报纸</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zazhi" type="radio" name="other_attrs_类型" value="杂志"><label for="zazhi">杂志</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="cd" type="radio" name="other_attrs_类型" value="光盘/CD"><label for="cd">光盘/CD</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="cidai" type="radio" name="other_attrs_类型" value="磁带"><label for="cidai">磁带</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input shutype1 -->
					<!-- input yueqiype0 -->
					<div class="item" item_for="yueqi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="yueqi" type="radio" name="other_attrs_类型" value="乐器"><label for="yueqi">乐器</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wenju" type="radio" name="other_attrs_类型" value="文具"><label for="wenju">文具</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="bangongshebei" type="radio" name="other_attrs_类型" value="办公设备"><label for="bangongshebei">办公设备</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input yueqitype1 -->
					<!-- input quantype0 -->
					<div class="item" item_for="quan" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="huiyuanka" type="radio" name="other_attrs_类型" value="会员卡/打折卡"><label for="huiyuanka">会员卡/打折卡</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="dianyingpiao" type="radio" name="other_attrs_类型" value="门票/电影票"><label for="dianyingpiao">门票/电影票</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="liquan" type="radio" name="other_attrs_类型" value="抵用券/礼券"><label for="liquan">抵用券/礼券</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="jifen" type="radio" name="other_attrs_类型" value="积分"><label for="jifen">积分</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input quantype1 -->
					<!-- input ershoujiaochetype0 -->
					<div class="item" item_for="ershoujiaoche" style="display: none">
						<table>
							<tr>
								<td class="attribute">品牌：</td>
								<td class="inputTd">
									<input id="sangtana" type="radio" name="other_attrs_品牌" value="桑塔纳"><label for="sangtana">桑塔纳</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="jieda" type="radio" name="other_attrs_品牌" value="捷达"><label for="jieda">捷达</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xiali" type="radio" name="other_attrs_品牌" value="夏利"><label for="xiali">夏利</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="fukang" type="radio" name="other_attrs_品牌" value="富康"><label for="fukang">富康</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="bieke" type="radio" name="other_attrs_品牌" value="别克"><label for="bieke">别克</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="pasate" type="radio" name="other_attrs_品牌" value="帕萨特"><label for="pasate">帕萨特</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="aotuo" type="radio" name="other_attrs_品牌" value="奥拓"><label for="aotuo">奥拓</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qirui" type="radio" name="other_attrs_品牌" value="奇瑞"><label for="qirui">奇瑞</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input ershoujiaochetype1 -->
					<!-- input ershouhuochetype0 -->
					<div class="item" item_for="ershouhuoche" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="huoche" type="radio" name="other_attrs_类型" value="货车"><label for="huoche">货车</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="mianbaoche" type="radio" name="other_attrs_类型" value="面包车"><label for="mianbaoche">面包车</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input ershouhuochetype1 -->
					<!-- input zhengzutype0 -->
					<div class="item" item_for="zhengzu_ershoufang" style="display: none">
						<table>
							<tr>
								<td class="attribute">房型：</td>
								<td class="inputTd">
									<input id="yishi" type="radio" name="other_attrs_房型" value="一室"><label for="yishi">一室</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="ershi" type="radio" name="other_attrs_房型" value="二室"><label for="ershi">二室</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="sanshi" type="radio" name="other_attrs_房型" value="三室"><label for="sanshi">三室</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="sishi" type="radio" name="other_attrs_房型" value="四室及以上"><label for="sishi">四室及以上</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input zhengzutype1 -->
					<!-- input hezutype0 -->
					<div class="item" item_for="hezu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="zhuwo" type="radio" name="other_attrs_类型" value="主卧"><label for="zhuwo">主卧</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="ciwo" type="radio" name="other_attrs_类型" value="次卧"><label for="ciwo">次卧</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="chuangwei" type="radio" name="other_attrs_类型" value="床位"><label for="chuangwei">床位</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input hezutype1 -->
					<!-- input jingyingzhuanrangtype0 -->
					<div class="item" item_for="jingyingzhuanrang" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="menmian" type="radio" name="other_attrs_类型" value="商铺/门面/店面"><label for="menmian">商铺/门面/店面</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="tanwei" type="radio" name="other_attrs_类型" value="摊位/柜台"><label for="tanwei">摊位/柜台</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jingyingzhuanrangtype1 -->
					<!-- input duanzutype0 -->
					<div class="item" item_for="duanzu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="jiatinglvguan" type="radio" name="other_attrs_类型" value="家庭旅馆"><label for="jiatinglvguan">家庭旅馆</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="gaodanggongyu" type="radio" name="other_attrs_类型" value="高档公寓"><label for="gaodanggongyu">高档公寓</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shangwujiudian" type="radio" name="other_attrs_类型" value="商务酒店"><label for="shangwujiudian">商务酒店</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="binguan" type="radio" name="other_attrs_类型" value="宾馆"><label for="binguan">宾馆</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhaodaisuo" type="radio" name="other_attrs_类型" value="招待所"><label for="zhaodaisuo">招待所</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input duanzutype1 -->
					<!-- input dianyuantype0 -->
					<div class="item" item_for="dianyuan" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="dianzhang" type="radio" name="other_attrs_类型" value="店长"><label for="dianzhang">店长</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="dianyuan" type="radio" name="other_attrs_类型" value="店员"><label for="dianyuan">店员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingyeyuan" type="radio" name="other_attrs_类型" value="营业员"><label for="yingyeyuan">营业员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="daogou" type="radio" name="other_attrs_类型" value="导购"><label for="daogou">导购</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input dianyuantype1 -->
					<!-- input wenmi0 -->
					<div class="item" item_for="wenmi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="wenyuan" type="radio" name="other_attrs_类型" value="文员"><label for="wenyuan">文员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhuli" type="radio" name="other_attrs_类型" value="助理"><label for="zhuli">助理</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input wenmi1 -->
					<!-- input xiaoshou0 -->
					<div class="item" item_for="xiaoshou" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="xiaoshou" type="radio" name="other_attrs_类型" value="销售"><label for="xiaoshou">销售</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="guwen" type="radio" name="other_attrs_类型" value="顾问"><label for="guwen">顾问</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="jingjiren" type="radio" name="other_attrs_类型" value="经纪人"><label for="jingjiren">经纪人</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yewuyuan" type="radio" name="other_attrs_类型" value="业务员"><label for="yewuyuan">业务员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input xiaoshou1 -->
					<!-- input bangyong0 -->
					<div class="item" item_for="bangyong" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="baomu" type="radio" name="other_attrs_类型" value="保姆"><label for="baomu">保姆</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yuesao" type="radio" name="other_attrs_类型" value="月嫂"><label for="yuesao">月嫂</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhongdiangong" type="radio" name="other_attrs_类型" value="钟点工"><label for="zhongdiangong">钟点工</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input bangyong1 -->
					<!-- input baoan0 -->
					<div class="item" item_for="baoan" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="baoan" type="radio" name="other_attrs_类型" value="保安"><label for="baoan">保安</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="cangkuguanliyuan" type="radio" name="other_attrs_类型" value="仓库管理员"><label for="cangkuguanliyuan">仓库管理员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input baoan1 -->
					<!-- input kuaidiyuan0 -->
					<div class="item" item_for="kuaidiyuan" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="kuaidiyuan" type="radio" name="other_attrs_类型" value="快递员"><label for="kuaidiyuan">快递员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="songhuoyuan" type="radio" name="other_attrs_类型" value="送货员"><label for="songhuoyuan">送货员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input kuaidiyuan1 -->
					<!-- input chushi0 -->
					<div class="item" item_for="chushi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="chushi" type="radio" name="other_attrs_类型" value="厨师"><label for="chushi">厨师</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="peicaiyuan" type="radio" name="other_attrs_类型" value="配菜员"><label for="peicaiyuan">配菜员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input chushi1 -->
					<!-- input kuaiji0 -->
					<div class="item" item_for="kuaiji" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="kuaiji" type="radio" name="other_attrs_类型" value="会计"><label for="kuaiji">会计</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="chuna" type="radio" name="other_attrs_类型" value="出纳"><label for="chuna">出纳</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="fanyi" type="radio" name="other_attrs_类型" value="翻译"><label for="fanyi">翻译</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="bianji" type="radio" name="other_attrs_类型" value="编辑"><label for="bianji">编辑</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input kuaiji1 -->
					<!-- input chengxuyuan0 -->
					<div class="item" item_for="chengxuyuan" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="chengxuyuan" type="radio" name="other_attrs_类型" value="程序员"><label for="chengxuyuan">程序员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="gongchengshi" type="radio" name="other_attrs_类型" value="工程师"><label for="gongchengshi">工程师</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wangguan" type="radio" name="other_attrs_类型" value="网管"><label for="wangguan">网管</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input chengxuyuan1 -->
					<!-- input meigong0 -->
					<div class="item" item_for="meigong" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="meigong" type="radio" name="other_attrs_类型" value="美工"><label for="meigong">美工</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="pingmiansheji" type="radio" name="other_attrs_类型" value="平面设计"><label for="pingmiansheji">平面设计</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wangyesheji" type="radio" name="other_attrs_类型" value="网页设计"><label for="wangyesheji">网页设计</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input meigong1 -->
					<!-- input meirongshi0 -->
					<div class="item" item_for="meirongshi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="meirongshi" type="radio" name="other_attrs_类型" value="美容师"><label for="meirongshi">美容师</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="meifashi" type="radio" name="other_attrs_类型" value="美发师"><label for="meifashi">美发师</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="baojianshi" type="radio" name="other_attrs_类型" value="保健师"><label for="baojianshi">保健师</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input meirongshi1 -->
					<!-- input mote0 -->
					<div class="item" item_for="mote" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="mote" type="radio" name="other_attrs_类型" value="模特"><label for="mote">模特</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yanyuan" type="radio" name="other_attrs_类型" value="演员"><label for="yanyuan">演员</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="siyi" type="radio" name="other_attrs_类型" value="司仪"><label for="siyi">司仪</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input mote1 -->
					<!-- input yiqilvyou0 -->
					<div class="item" item_for="yiqilvyou" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="lvyou" type="radio" name="other_attrs_类型" value="旅游"><label for="lvyou">旅游</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zijiayou" type="radio" name="other_attrs_类型" value="自驾游"><label for="zijiayou">自驾游</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yumaoqiu" type="radio" name="other_attrs_类型" value="羽毛球"><label for="yumaoqiu">羽毛球</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="lanqiu" type="radio" name="other_attrs_类型" value="篮球"><label for="lanqiu">篮球</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="paobu" type="radio" name="other_attrs_类型" value="跑步"><label for="paobu">跑步</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="taiqiu" type="radio" name="other_attrs_类型" value="台球"><label for="taiqiu">台球</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input yiqilvyou1 -->
					<!-- input jiaxiaofuwu0 -->
					<div class="item" item_for="jiaxiaofuwu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="jiaxiao" type="radio" name="other_attrs_类型" value="驾校"><label for="jiaxiao">驾校</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="peijia" type="radio" name="other_attrs_类型" value="陪驾"><label for="peijia">陪驾</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="daijia" type="radio" name="other_attrs_类型" value="代驾"><label for="daijia">代驾</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jiaxiaofuwu1 -->
					<!-- input baomu0 -->
					<div class="item" item_for="baomu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="jiazhengbaomu" type="radio" name="other_attrs_类型" value="家政保姆"><label for="jiazhengbaomu">家政保姆</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="baojieqingxi" type="radio" name="other_attrs_类型" value="保洁清洗"><label for="baojieqingxi">保洁清洗</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input baomu1 -->
					<!-- input jineng0 -->
					<div class="item" item_for="jineng" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="diannao" type="radio" name="other_attrs_类型" value="电脑"><label for="diannao">电脑</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="waiyu" type="radio" name="other_attrs_类型" value="外语"><label for="waiyu">外语</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="jineng" type="radio" name="other_attrs_类型" value="技能"><label for="jineng">技能</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jineng1 -->
					<!-- input weixiu0 -->
					<div class="item" item_for="weixiu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="diannaoweixiu" type="radio" name="other_attrs_类型" value="电脑维修"><label for="diannaoweixiu">电脑维修</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="jiadianweixiu" type="radio" name="other_attrs_类型" value="家电维修"><label for="jiadianweixiu">家电维修</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="fangwuweixiu" type="radio" name="other_attrs_类型" value="房屋维修"><label for="fangwuweixiu">房屋维修</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input weixiu1 -->
					<!-- input siyi0 -->
					<div class="item" item_for="siyi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="hunqing" type="radio" name="other_attrs_类型" value="婚庆"><label for="hunqing">婚庆</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="sheying" type="radio" name="other_attrs_类型" value="摄影"><label for="sheying">摄影</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="siyi" type="radio" name="other_attrs_类型" value="司仪服务"><label for="siyi">司仪服务</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input siyi1 -->
					<!-- input banjia0 -->
					<div class="item" item_for="banjia" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="banjia" type="radio" name="other_attrs_类型" value="搬家"><label for="banjia">搬家</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="kuaidi" type="radio" name="other_attrs_类型" value="快递/送货"><label for="kuaidi">快递/送货</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wuliu" type="radio" name="other_attrs_类型" value="物流货运"><label for="wuliu">物流货运</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input banjia1 -->
					<!-- input sheji0 -->
					<div class="item" item_for="sheji" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="wangyeshejifuwu" type="radio" name="other_attrs_类型" value="网页设计"><label for="wangyeshejifuwu">网页设计</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="pingmianshejifuwu" type="radio" name="other_attrs_类型" value="平面设计"><label for="pingmianshejifuwu">平面设计</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yinshua" type="radio" name="other_attrs_类型" value="印刷"><label for="yinshua">印刷</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input sheji1 -->
					<!-- input kuaijifuwu0 -->
					<div class="item" item_for="kuaijifuwu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="caiwujizhang" type="radio" name="other_attrs_类型" value="财务记账"><label for="caiwujizhang">财务记账</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="falvzixun" type="radio" name="other_attrs_类型" value="法律咨询"><label for="falvzixun">法律咨询</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="fanyifuwu" type="radio" name="other_attrs_类型" value="翻译"><label for="fanyifuwu">翻译</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input kuaijifuwu1 -->
					<!-- input zhenghun0 -->
					<div class="item" item_for="zhenghun" style="display: none">
						<table>
							<tr>
								<td class="attribute">性别：</td>
								<td class="inputTd">
									<input id="nan" type="radio" name="other_attrs_性别" value="男"><label for="nan">男</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="nv" type="radio" name="other_attrs_性别" value="女"><label for="nv">女</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input zhenghun1 -->
					<!-- input chengse0 -->
					<div class="item" item_for="diannao_shouji_zhaoxiangji_shuma_dianqi_jiaju_yueqi_yundongqicai_ershoudiandongche_ershouzixingche" style="display: none">
						<table>
							<tr>
								<td valign="top" class="attribute">
									成色：
								</td>
								<td valign="top" class="inputTd">
									<select name="other_attrs_成色" style="width:100px;">
										<option value="">&nbsp;</option>
										<option value="全新">全新</option>
										<option value="95成新">95成新</option>
										<option value="9成新">9成新</option>
										<option value="8成新">8成新</option>
										<option value="7成新">7成新</option>
										<option value="6成新及以下">6成新及以下</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<!-- input chengse1 -->
					<!-- input jiage0 -->
					<div class="item" id="setPrice" item_for="diannao_shouji_shoujihaoma_zhaoxiangji_shuma_dianqi_jiaju_riyongping_fushi_xiemao_yinger_huazhuangping_shu_yueqi_yundongqicai_shoucang_quan_huochepiao_qitazhuanrang_ershoujiaoche_ershouhuoche_ershoumotuoche_ershoudiandongche_ershouzixingche_zhengzu_hezu_ershoufang_xiezilouchushou_xiezilouchuzu_jingyingzhuanrang_duanzu_chongwuchushou_chongwuyongpin_chongwupeizhong" style="display: none">
						<table>
							<tr>
								<td class="attribute">价格：</td>
								<td class="inputTd">
									<input type="text" maxlength="10" size="10" class="input" name="other_attrs_价格" style="text-align: right;" value="元">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jiage1 -->
					<!-- input gongzi0 -->
					<div class="item" id="setGongzi" parent_item_for="zhaopin_jianzhi_qiuzhi" style="display: none">
						<table>
							<tr>
								<td class="attribute">工资：</td>
								<td class="inputTd">
									<input type="text" maxlength="10" size="10" class="input" name="other_attrs_工资" style="text-align: right;" value="元">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input gongzi1 -->
					<!-- input mianji0 -->
					<div class="item" id="setMianji" item_for="ershoufang_xiezilouchushou_xiezilouchuzu_jingyingzhuanrang" style="display: none">
						<table>
							<tr>
								<td class="attribute">面积：</td>
								<td class="inputTd">
									<input type="text" maxlength="10" size="10" class="input" name="other_attrs_面积" style="text-align: right;" value="平米">
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
					      </tr>
						</table>
					</div>
					<!-- input mianji1 -->
					<!-- input nianling0 -->
					<div class="item" id="setNianling" item_for="zhenghun" style="display: none">
						<table>
							<tr>
								<td class="attribute">年龄：</td>
								<td class="inputTd">
									<input type="text" maxlength="10" size="10" class="input" name="other_attrs_年龄" style="text-align: right;" value="岁">
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
					      </tr>
						</table>
					</div>
					<!-- input nianling1 -->
					<!-- input faburen0 -->
					<div class="item required" id="setFaburen" validationMsg="请选择发布人！" item_for="diannao_shouji_zhaoxiangji_shuma_dianqi_jiaju_fushi_xiemao_yinger_huazhuangping_yueqi_yundongqicai_shoucang_qitazhuanrang_ershoujiaoche_ershouhuoche_ershoumotuoche_ershoudiandongche_ershouzixingche_chongwuchushou_chongwuyongpin" style="display: none">
						<table>
							<tr>
								<td class="attribute">
									<span class="red">*&nbsp;</span>发布人：
								</td>
								<td class="inputTd">
									<input id="shangjia" type="radio" name="other_attrs_发布人" value="商家"><label for="shangjia">商家</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="geren" type="radio" name="other_attrs_发布人" value="个人"><label for="geren">个人</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
					      </tr>
						</table>
					</div>
					<!-- input faburen1 -->
					<!-- input faburen4fang0 -->
					<div class="item required" id="setFaburen4fang" validationMsg="请选择发布者！" item_for="zhengzu_hezu_ershoufang_xiezilouchushou_xiezilouchuzu_jingyingzhuanrang" style="display: none">
						<table>
							<tr>
								<td class="attribute">
									<span class="red">*&nbsp;</span>发布者：
								</td>
								<td class="inputTd">
									<input id="zhongjie4fang" type="radio" name="other_attrs_发布者" value="中介"><label for="zhongjie4fang">中介</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="geren4fang" type="radio" name="other_attrs_发布者" value="个人"><label for="geren4fang">个人</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
					      </tr>
						</table>
					</div>
					<!-- input faburen4fang1 -->
					<!-- input content0 -->
					<div class="item required" id="setContact" validationMsg="请填写您的联系方式！">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>描述：
								</td>
								<td valign="top" class="inputTd">
									<textarea name="content" style="width:500px" rows="7" cols="70" class="textarea field">

联系方式：</textarea>
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- input content1 -->
					<!-- input images0 -->
					<div class="item" id="uploadImages">
						<table>
							<tr>
								<td class="attribute">上传照片：</td>
								<td valign="top" class="inputTd">
									<table id="imagesTable">
										<tr>
											<td>
												<ul id="imagesUl">
												</ul>
											</td>
										</tr>
									</table>
									<div id="iframes"></div>
									<div style="display: block; float: left; border-right: 1px solid rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(255, 255, 255) rgb(255, 255, 255);" id="uploadImgIframes">
										<iframe width="580" scrolling="no" height="25" frameborder="0" src="/site/image_upload/" id="uploadframe" name="uploadframe" marginheight="0" framespacing="0" marginwidth="0">
										</iframe>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<!-- input images1 -->
					<% if !login? %>
					<!-- input password0 -->
					<div class="item required" id="setPassword" validationMsg="请设置一个4位以上的密码并牢记（密码用来修改和删除信息）！">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>设置密码：
								</td>
								<td valign="top" class="inputTd">
									<input type="password" name="password" value="" class="input" maxlength="16" size="20"/>
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- input password1 -->
					<!-- input password confirm0 -->
					<div class="item required" id="setPasswordConfirm" validationMsg="请再输入一遍和设置密码相同的密码！">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*&nbsp;</span>再次输入密码：
								</td>
								<td valign="top" class="inputTd">
									<input type="password" name="passwor_confirm" value="" class="input field" maxlength="16" size="20"/>
								</td>
								<td valign="top" class="value">
									<div class="checkError"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- input password confirm1 -->
					<% end %>
					<!-- input submit0 -->
					<div class="item">
						<table>
							<tr>
								<td valign="top" class="attribute"></td>
								<td valign="top" class="inputTd">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td style="vertical-align:middle">
												<button type="submit" class="button">立即免费发布</button>
											</td>
											<td style="vertical-align:middle">
												<span style="font-size:12px;">
													&nbsp;发布即代表您已阅读并同意
													<a href="/user.html" target="_blank"><%=SITE_TITLE%>用户协议</a>
												</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<!-- input submit1 -->
				</div>
			</form>
			<!-- post form1 -->
		</div>
	</div>
</div>
<!-- content1 -->

<%
	@title = "免费发布信息(无需注册) - " + SITE_TITLE
%>