<script>
function changeCategory() {
	$('#setCategory').hide();
	$('#categoryItem').show();
}
function chooseParentCategory(id) {
	$('#secondCategory').find('div').hide();
	$('#jiantou').show();
	$('#sub_category_' + id).show();
}
function chooseSubCategory(pid, sid, m, c) {
	$('#parent_category_id').val(pid);
	$('#category_id').val(sid);
	$('#categoryItem').hide();
	$('#chosen_category').html(m);
	$('#setCategory').show();
	$('#formInputBox').find('div.item').each(function() {
		if($(this).attr('item_for')) {
			var fors = $(this).attr('item_for').split('_');
			var show_this_item = false;
			for(var i=0;i<fors.length;i++) {
				if(fors[i] == c) {
					show_this_item = true;
				}
			}
			if(show_this_item) {
				$(this).show();
			} else {
				$(this).hide();
			}
		}
	});
}
function chooseArea() {
	var area_id = $('#select_area').val();
	if(area_id != "") {
		$('#select_area_location').append($('#location_' + area_id).html());
	} else {
		$('#select_area_location').append($('#location_0').html());
	}
	$('#select_location').remove();
	$('#select_area_location').find('select.tmp_select_location').attr("id", "select_location");
	$('#select_area_location').find('select.tmp_select_location').attr("name", "location_id");
}
</script>

<style type="text/css">
	body { background:none repeat scroll 0 0 #FFFCCC; font-family:Arial,Helvetica,sans-serif; font-size:12px;
	line-height:1.6; } body, hr, form, p, img { border:0 none; margin:0; padding:0; } a:link { color:#0066CC;
	text-decoration:none; } a:visited { color:#800080; text-decoration:none; } .nohist a:visited { color:#0066CC; }
	.nohist a:hover, a:hover { color:#FF0000; text-decoration:underline; } #header, #subheader, #footer, #container {
	margin:0 auto; padding:0 10px 10px; width:980px; } #header { background:none repeat scroll 0 0 #FFFCCC; padding:4px
	10px; } #footer { padding-top:10px; text-align:center; } #container { background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #B1D5F2; } #subheader { background:none repeat scroll 0 0 #FFFFFF; padding:5px 0; } #content {
	background:none repeat scroll 0 0 #FFFFFF; float:left; width:800px; } #sidebar { border-left:1px solid #C5EC83;
	float:right; padding:5px 0 5px 10px; width:160px; } .block h2 { background-color:#C5EC83; font-size:14px; margin:0;
	padding:2px 5px; } .block h3 { font-size:14px; margin:0; padding:2px 0; } .blank5, .blank10 { clear:both; height:10px;
	overflow:hidden; } .blank5 { height:5px; } .datagrid ul, .datagrid ol { margin:0; padding:0; } .datagrid li {
	font-size:14px; line-height:2; list-style:none outside none; } table.tab { table-layout:auto; } table.tab td {
	border-bottom:1px solid #C5EC83; font-size:14px; padding:0 8px; text-align:center; } table.tab .on {
	border-color:#C5EC83 #C5EC83 -moz-use-text-color; border-style:solid solid none; border-width:1px 1px 0;
	font-weight:bold; } table.tab a:visited { color:#0066CC; } table.tab a:hover, a:hover { color:#FF0000;
	text-decoration:underline; } #filter { border:1px solid #C5EC83; line-height:1.8; padding:5px; } #filter a, #filter
	strong { padding-left:5px; } #filter a:visited { color:#0066CC; } #filter a:hover, a:hover { color:#FF0000;
	text-decoration:underline; } .datagrid ol { margin-top:5px; } .datagrid ol a, .datagrid li, .datagrid b, .datagrid i,
	.datagrid em { font-style:normal; padding-left:5px; } .datagrid ol li i { color:olive; } .datagrid ol li b {
	color:#666666; font-weight:normal; } .datagrid ol li em a { background:none repeat scroll 0 0 #EEEEEE; padding:2px; }
	.datagrid ul li em a, .datagrid ul li em a:hover { color:black; } .datagrid .head { background:none repeat scroll 0 0
	#C5EC83; font-weight:bold; } .datagrid .head a { color:black; } .datagrid .line { background:none repeat scroll 0 0
	#C5EC83; height:1px; overflow:hidden; } h1 { font-family:微软雅黑,黑体; font-size:20px; font-weight:normal; margin:5px 0; }
	h1 i { color:olive; } #content p { font-size:14px; line-height:23px; } #content img { margin:0 0 0 3px; } #logo {
	display:block; float:left; margin:0 5px 0 0; } #area { color:#0D0057; display:block; float:left; font-family:微软雅黑,黑体;
	font-size:30px; font-weight:bold; line-height:1; margin:18px 5px 0; } h3 { font-size:14px; margin:0; } #categories {
	background-color:white; float:left; margin-left:-5px; padding:5px 0; width:810px; } #categories table {
	font-size:14px; } #categories h2 { background-color:#C5EC83; margin:0; padding:2px 0; } #categories h2 a {
	color:black; font-size:14px; } #categories td { vertical-align:top; width:20%; } #categories a, #categories span {
	padding-left:5px; } #categories small { color:#666666; font-size:9px; padding-left:2px; }
	img.imgBorder{padding:5px;background:#FFF;border:1px solid #EBEBEB;margin:2px;}
	table{border-collapse:collapse;border-spacing:0;} #content{ color:#000; font-size:14px;} #content .w760{ width:740px;
	margin:0 auto 5px auto; font-size:14px;} div.tips{ font-size:12px;background:#FFFFCC
	url(http://static.baixing.net/images/css/global/tips_bg.gif) no-repeat 5px 5px; padding:5px 5px 5px 40px; border:1px
	solid #FFE3B9;color:#000;} .errMsg{ border:1px solid #FF0000; padding:5px; background:#FEE9E1
	url(http://static.baixing.net/images/css/global/error-32.gif) no-repeat 5px 10px; padding-left:45px; color:#000}
	.successMsg{border:1px solid #5EBF01; padding:5px; background:#E7FBC0
	url(http://static.baixing.net/images/css/global/success-32.gif) no-repeat 5px 10px; padding-left:45px; color:#000}
	.alertMsg{border:1px solid #FFE304; padding:5px 10px; margin:10px 0; background:#FEF8D1;color:#000} #postForm .item
	li{display:inline;margin-right:5px;} #postForm .item li a{white-space:nowrap; } #postForm table label{white-space:
	normal;} * html #postForm table label{white-space:nowrap;} *+html #postForm table label{white-space:nowrap;} /*post v2
	*/ #postForm .item{ clear:both; padding:2px; margin:1px 0; width:980px;} #postForm .item td.attribute {
	width:120px;text-align:right;} #postForm .item td{ vertical-align:top; line-height:21px;} #postForm .item
	.value,#postForm .item .attribute{ padding-top:2px;} #postForm .item td.value{ padding-left:5px; color:#000} #postForm
	#imagesTable{width:580px;} #postForm #imagesUl li{ width:90px; text-align: center; float:left;} #postForm #imagesUl
	.imgUpload{ border:1px solid #FFD06F;padding:9px;background:#FFF; margin:2px;} #postForm #imagesUl .imgUpError{
	border:1px solid #FF6666; background:url(http://static.baixing.net/images/css/global/img_error.gif) no-repeat 5px 5px;
	padding:5px;margin:2px; text-align:center; width:64px; height:64px;} #postForm .item .postFormCheckBox li{
	height:21px; display:block; float:left; max-width: 200px; min-width:140px;} *html #postForm .item .postFormCheckBox
	li{ width:140px} *+html #postForm .item .postFormCheckBox li{ width:140px} #postForm .item .postFormRadio li{
	height:21px; display:block; float:left; max-width: 200px; min-width:140px;} *html #postForm .item .postFormRadio li{
	width:140px} *+html #postForm .item .postFormRadio li{ width:140px} /*form*/ .input,.textarea{padding:3px 2px 1px 2px;
	font-size:14px;border-top:1px solid #666666; border-left:1px solid #666666; border-bottom:1px solid #C2C2C2;
	border-right:1px solid #C2C2C2; background:#F5F5F5;} .textarea{ line-height:1.35;width:580px;} .button{padding:5px
	20px; font-size:14px;} #optContent{border:1px solid #DDD} #optContent table td{padding:2px;} #categoryBox div{
	width:150px; float:left; padding-bottom:5px; margin-left:5px;} #categoryBox h2{line-height:1.7; padding-left:5px;
	background:#F3F3F3; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;} #categoryBox
	li{font-size:14px;line-height:1.7; width:140px;padding-left:5px;} .checkError{ background:#FEE9E1
	url(http://static.baixing.net/images/css/global/error.gif) no-repeat 3px 4px; padding-left:20px; font-size:12px;
	color:#FF0000} .error,.ok,.load{padding:2px 5px 2px 25px; color:#000; font-size:12px;} .error{ border:1px solid
	#FF0000; background:#FEE9E1 url(http://static.baixing.net/images/css/global/error.gif) no-repeat 5px 6px;} .ok{
	border:1px solid #5EBF01; background: #E7FBC0 url(http://static.baixing.net/images/css/global/ok.gif) no-repeat 5px
	6px;} .load{ border:1px solid #FFBD33; background: #FFFFCC
	url(http://static.baixing.net/images/css/global/ajax_loader.gif) no-repeat 5px 6px;}
	.succeed{clear:both;margin-bottom:10px;border:2px solid #5ABD00; padding:10px 5px 10px 50px;background:#E7FBC0
	url(http://static.baixing.net/images/css/global/success-32.gif) no-repeat 7px 7px;} .succeed h2{ padding:5px;
	margin:0; font-size:14px;} .succeed p{ padding:0; margin:0;} .succeed .red{ color: #FF0000} .item label{
	cursor:pointer} .hidden{display:none;} #content #firstCategory,#content #secondCategory{line-height:1.5;
	font-size:14px;} #firstCategory{ border:1px solid #7F9DB9; padding:1px; width:100px; background:#fff} #firstCategory
	div{border:1px solid #716F64; border-bottom:1px solid #F1EFE2; border-right:1px solid #F1EFE2} #content #firstCategory
	a{text-decoration:none; border:1px solid #fff;width:95px; padding-left:5px; display:block; background:#fff;
	white-space:nowrap; color:#000} #content #firstCategory a:hover{background:#316AC5
	url(http://static.baixing.net/images/post/3-4.gif) no-repeat 90px 6px; color:#fff;text-decoration:none; } #content
	#firstCategory a.on{ background:#316AC5 url(http://static.baixing.net/images/post/3-4.gif) no-repeat 90px 6px;
	color:#fff;text-decoration:none;} #content #secondCategory table{ background:#fff;border:1px solid #716F64;
	border-bottom:1px solid #F1EFE2; border-right:1px solid #F1EFE2} #content #secondCategory a{display:block;
	width:135px;text-decoration:none; border:1px solid #fff;padding-left:5px; white-space:nowrap;
	color:#000;line-height:1.5; font-size:14px;} #content #secondCategory div{border:1px solid #7F9DB9; padding:1px;
	background:#fff; position: relative; z-index:98} #categoryCheck{ position:relative; z-index:99} #content
	#secondCategory a:hover{background:#316AC5; color:#fff;text-decoration:none; } #content #secondCategory
	a.on{background:#316AC5; color:#fff;text-decoration:none;} #jiantou,#categoryBox{ display:none;} #setCategory small{
	font-size:12px;} #postNav{ line-height:1.8;} #bangui{border:1px solid #fff; position:absolute; background:#FAFAFA;
	top:42px; margin-left:700px; width:270px; padding:5px 10px; font-size:12px} #content select{ font-size:14px;}
	span.red{color:red} /*beta*/ img.imgBorderBeta{padding:9px;background:#FFF;border:1px solid #EBEBEB;margin:2px;}
	span.imgBeta{ display:block; background:#EEEEF0; font-size:12px; padding:2px 0 0 0; color:#5B5B68; margin:0 3px;
	margin-top:-2px; border:1px solid #EEEEE7} #postTable{background:url(http://www.baixing.com/images/jiantou.gif)
	no-repeat -500px 0;}
</style>

<!-- header0 -->
<div id="header" class="nohist">
	<span id="header_links" style="float:right;text-align:right">
		<a href="/message/new" rel="nofollow" target="_blank">免费发布信息</a>
		| <a href="/message/edit" rel="nofollow" target="_blank">修改删除信息</a>
		| <a href="/help.html" rel="nofollow" target="_blank">帮助</a>
	</span>
	<a href="/"><%=@ct.name+SITE_TITLE%></a>
	&raquo; 免费发布信息（无需注册）
	<div style="clear:both">
	</div>
</div>
<!-- header1 -->

<!-- content0 -->
<div id="container">
	<div id="sidebar"></div>
	<div id="content" style="float:none;">
		<div id="postTable">
			<div style="padding-left: 124px;">
				推荐：我们建议您注册成为<%=SITE_TITLE%>的注册用户，这样发布管理信息更方便。
				<a target="_blank" href="/zhuce">点击这里注册</a>
			</div>
			<!-- post form0 -->
			<form id="postForm" method="POST" action="/message">
				<input type="hidden" name="<%=request_forgery_protection_token%>" value="<%=form_authenticity_token%>" />
				<div id="formInputBox">
					<!-- choose category0 -->
					<div class="item" id="setCategory" style="display:none">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>选择类目：
								</td>
								<td valign="top" class="inputTd">
									<div id="postNav">
										<span id="chosen_category"> » </span>
										<small><a onclick="return changeCategory()" href="#">重选类目</a></small>
										<small id="number_of_messages" style="color: rgb(0, 153, 0);">本类目一天可以发布3条信息。</small>
									</div>
								</td>
							</tr>
						</table>
						<input id="parent_category_id" type="hidden" name="parent_category_id" value="1" />
						<input id="category_id" type="hidden" name="category_id" value="1001" />
					</div>
					<div class="item" id="categoryItem">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>选择类目：
								</td>
								<td valign="top" id="firstCategory">
									<div>
										<% @pcs = Category.find_by_sql("select * from category where parent_category_id is null") %>
										<% @pcs.each do |pc| %>
										<a href="#" onclick="chooseParentCategory(<%=pc.id%>);"><%=pc.name%></a>
										<% end %>
									</div>
								</td>

								<td valign="middle" style="vertical-align:middle">
									<img id="jiantou" src="/images/right_arrow.gif"	align="absmiddle" style="display:none" />
								</td>
								<td>
									<div id="secondCategory">
										<% @pcs.each do |pc| %>
										<div id="sub_category_<%=pc.id%>" style="display: none">
											<table>
												<tr>
													<% (pc.sub_categories / 7).each do |g| %>
													<td>
														<% g.each do |c| %>
														<a href="#" onclick="chooseSubCategory(<%=pc.id%>, <%=c.id%>, '<%=pc.name%> » <%=c.name%>', '<%=c.slug%>');"><%=c.name%></a>
														<% end %>
													</td>
													<% end %>
												</tr>
											</table>
										</div>
										<% end %>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<!-- choose category1 -->
					<!-- input title0 -->
					<div class="item">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>标题：
								</td>
								<td valign="top" class="inputTd">
									<input type="text" class="input" name="title" size="50" maxlength="50" />
								</td>
							</tr>
						</table>
					</div>
					<!-- input title1 -->
					<% @areas = Area.find_all_by_city_id(@ct.id) %>
					<% if !@areas.blank? %>
					<!-- input location0 -->
					<div class="item">
						<div id="location_0" style="display:none">
							<select style="width:100px;" class="tmp_select_location">
							<option value="">&nbsp;</option>
							</select>
						</div>
						<%
							@areas.each do |a|
								ls = Location.find_all_by_area_id(a.id)
								if !ls.empty?
						%>
						<div id="location_<%=a.id%>" style="display:none">
							<select style="width:100px;" class="tmp_select_location">
							<option value="">&nbsp;</option>
							<% ls.each do |l| %>
							<option value="<%=l.id%>"><%=l.name%></option>
							<% end %>
							</select>
						</div>
						<%
								end
							end
						%>
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>所在地区：
								</td>
								<td id="select_area_location" valign="top" class="inputTd">
									<select id="select_area" name="area_id" style="width:100px;" onchange="chooseArea()">
										<option value="">&nbsp;</option>
										<% @areas.each do |a| %>
										<option value="<%=a.id%>"><%=a.name%></option>
										<% end %>
									</select>
									<select id="select_location" name="location_id" style="width:100px;display:<%= (@ct.slug == 'beijing' || @ct.slug == 'shanghai') ? '':'none' %>">
										<option value="">&nbsp;</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<!-- input location1 -->
					<% end %>
					<!-- input jutididian0 -->
					<div class="item" item_for="diannao_shouji_shoujihaoma_zhaoxiangji_shuma_dianqi_jiaju_riyongping_fushi_xiemao_yinger_huazhuangping_shu_yueqi_yundongqicai_shoucang_quan_huochepiao_qitazhuanrang_wupinqiugou" style="display: none">
						<table>
							<tr>
								<td class="attribute">具体地点：</td>
								<td class="inputTd">
									<input type="text" maxlength="30" size="20" class="input" name="other_attrs_具体地点" value="">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jutididian1 -->
					<!-- input diannaotype0 -->
					<div class="item" item_for="diannao" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="bijiben" type="radio" name="other_attrs_类型" value="笔记本"><label for="bijiben">笔记本</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shangwangben" type="radio" name="other_attrs_类型" value="上网本/iPad"><label for="shangwangben">上网本/iPad</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="taishiji" type="radio" name="other_attrs_类型" value="台式机"><label for="taishiji">台式机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xianshiqi" type="radio" name="other_attrs_类型" value="显示器"><label for="xianshiqi">显示器</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingpan" type="radio" name="other_attrs_类型" value="硬盘"><label for="yingpan">硬盘</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="neicun" type="radio" name="other_attrs_类型" value="内存"><label for="neicun">内存</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitadiannao" type="radio" name="other_attrs_类型" value="其他"><label for="qitadiannao">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input diannaotype1 -->
					<!-- input shoujitype0 -->
					<div class="item" item_for="shouji" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="nuojiya" type="radio" name="other_attrs_类型" value="诺基亚"><label for="nuojiya">诺基亚</label>
									&nbsp;&nbsp;
									<input id="iphone" type="radio" name="other_attrs_类型" value="iPhone"><label for="iphone">iPhone</label>
									&nbsp;&nbsp;
									<input id="sanxing" type="radio" name="other_attrs_类型" value="三星"><label for="sanxing">三星</label>
									&nbsp;&nbsp;
									<input id="suoai" type="radio" name="other_attrs_类型" value="索爱"><label for="suoai">索爱</label>
									&nbsp;&nbsp;
									<input id="motuoluola" type="radio" name="other_attrs_类型" value="摩托罗拉"><label for="motuoluola">摩托罗拉</label>
									&nbsp;&nbsp;
									<input id="heimei" type="radio" name="other_attrs_类型" value="黑莓"><label for="heimei">黑莓</label>
									&nbsp;&nbsp;
									<input id="xiapu" type="radio" name="other_attrs_类型" value="夏普"><label for="xiapu">夏普</label>
									&nbsp;&nbsp;
									<input id="lg" type="radio" name="other_attrs_类型" value="LG"><label for="lg">LG</label>
									&nbsp;&nbsp;
									<input id="htc" type="radio" name="other_attrs_类型" value="多普达/HTC"><label for="htc">多普达/HTC</label>
									&nbsp;&nbsp;
									<input id="guochan" type="radio" name="other_attrs_类型" value="国产品牌"><label for="guochan">国产品牌</label>
									&nbsp;&nbsp;
									<input id="qitashouji" type="radio" name="other_attrs_类型" value="其他"><label for="qitashouji">其他</label>
									&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input shoujitype1 -->
					<!-- input zhaoxiangjitype0 -->
					<div class="item" item_for="zhaoxiangji" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="zhaoxiangji" type="radio" name="other_attrs_类型" value="照相机"><label for="zhaoxiangji">照相机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shexiangji" type="radio" name="other_attrs_类型" value="摄像机"><label for="shexiangji">摄像机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitazhaoxiangji" type="radio" name="other_attrs_类型" value="其他"><label for="qitazhaoxiangji">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input zhaoxiangjitype1 -->
					<!-- input shumatype0 -->
					<div class="item" item_for="shuma" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="mp3" type="radio" name="other_attrs_类型" value="MP3"><label for="mp3">MP3</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="mp4" type="radio" name="other_attrs_类型" value="MP4"><label for="mp4">MP4</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="youxiji" type="radio" name="other_attrs_类型" value="游戏机"><label for="youxiji">游戏机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitashuma" type="radio" name="other_attrs_类型" value="其他"><label for="qitashuma">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input shumatype1 -->
					<!-- input dianqitype0 -->
					<div class="item" item_for="dianqi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="bingxiang" type="radio" name="other_attrs_类型" value="冰箱"><label for="bingxiang">冰箱</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="kongtiao" type="radio" name="other_attrs_类型" value="空调"><label for="kongtiao">空调</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="dianshi" type="radio" name="other_attrs_类型" value="电视"><label for="dianshi">电视</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xiyiji" type="radio" name="other_attrs_类型" value="洗衣机"><label for="xiyiji">洗衣机</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitadianqi" type="radio" name="other_attrs_类型" value="其他"><label for="qitadianqi">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input dianqitype1 -->
					<!-- input jiajutype0 -->
					<div class="item" item_for="jiaju" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="chuang" type="radio" name="other_attrs_类型" value="床/床垫"><label for="chuang">床/床垫</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="guizi" type="radio" name="other_attrs_类型" value="柜子"><label for="guizi">柜子</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhuoyi" type="radio" name="other_attrs_类型" value="桌椅"><label for="zhuoyi">桌椅</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shafa" type="radio" name="other_attrs_类型" value="沙发"><label for="shafa">沙发</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitajiaju" type="radio" name="other_attrs_类型" value="其他"><label for="qitajiaju">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jiajutype1 -->
					<!-- input fushitype0 -->
					<div class="item" item_for="fushi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="nvzhuang" type="radio" name="other_attrs_类型" value="女装"><label for="nvzhuang">女装</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="nanzhuang" type="radio" name="other_attrs_类型" value="男装"><label for="nanzhuang">男装</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zhongxingzhuang" type="radio" name="other_attrs_类型" value="中性装"><label for="zhongxingzhuang">中性装</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="shiping" type="radio" name="other_attrs_类型" value="饰品"><label for="shiping">饰品</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitafushi" type="radio" name="other_attrs_类型" value="其他"><label for="qitafushi">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input fushitype1 -->
					<!-- input xiemaotype0 -->
					<div class="item" item_for="xiemao" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="nvxie" type="radio" name="other_attrs_类型" value="女鞋"><label for="nvxie">女鞋</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="nanxie" type="radio" name="other_attrs_类型" value="男鞋"><label for="nanxie">男鞋</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="xiangbao" type="radio" name="other_attrs_类型" value="箱包"><label for="xiangbao">箱包</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitaxiemao" type="radio" name="other_attrs_类型" value="其他"><label for="qitaxiemao">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input xiemaotype1 -->
					<!-- input yingertype0 -->
					<div class="item" item_for="yinger" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="yingershiping" type="radio" name="other_attrs_类型" value="食品"><label for="yingershiping">食品</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingerfushi" type="radio" name="other_attrs_类型" value="服饰"><label for="yingerfushi">服饰</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wanju" type="radio" name="other_attrs_类型" value="玩具"><label for="wanju">玩具</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="yingeryongpin" type="radio" name="other_attrs_类型" value="用品"><label for="yingeryongpin">用品</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitayinger" type="radio" name="other_attrs_类型" value="其他"><label for="qitayinger">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input yingertype1 -->
					<!-- input shutype0 -->
					<div class="item" item_for="shu" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="tushu" type="radio" name="other_attrs_类型" value="图书"><label for="tushu">图书</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="baozhi" type="radio" name="other_attrs_类型" value="报纸"><label for="baozhi">报纸</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="zazhi" type="radio" name="other_attrs_类型" value="杂志"><label for="zazhi">杂志</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="cd" type="radio" name="other_attrs_类型" value="光盘/CD"><label for="cd">光盘/CD</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="cidai" type="radio" name="other_attrs_类型" value="磁带"><label for="cidai">磁带</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitashu" type="radio" name="other_attrs_类型" value="其他"><label for="qitashu">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input shutype1 -->
					<!-- input yueqiype0 -->
					<div class="item" item_for="yueqi" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="yueqi" type="radio" name="other_attrs_类型" value="乐器"><label for="yueqi">乐器</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="wenju" type="radio" name="other_attrs_类型" value="文具"><label for="wenju">文具</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="bangongshebei" type="radio" name="other_attrs_类型" value="办公设备"><label for="bangongshebei">办公设备</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitayueqi" type="radio" name="other_attrs_类型" value="其他"><label for="qitayueqi">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input yueqitype1 -->
					<!-- input quanype0 -->
					<div class="item" item_for="quan" style="display: none">
						<table>
							<tr>
								<td class="attribute">类型：</td>
								<td class="inputTd">
									<input id="huiyuanka" type="radio" name="other_attrs_类型" value="会员卡/打折卡"><label for="huiyuanka">会员卡/打折卡</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="dianyingpiao" type="radio" name="other_attrs_类型" value="门票/电影票"><label for="dianyingpiao">门票/电影票</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="liquan" type="radio" name="other_attrs_类型" value="抵用券/礼券"><label for="liquan">抵用券/礼券</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="jifen" type="radio" name="other_attrs_类型" value="积分"><label for="jifen">积分</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="qitaquan" type="radio" name="other_attrs_类型" value="其他"><label for="qitaquan">其他</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input quantype1 -->
					<!-- input chengse0 -->
					<div class="item" item_for="diannao_shouji_zhaoxiangji_shuma_dianqi_jiaju_yueqi_yundongqicai_ershoujiaoche_ershouhuoche_ershoumotuoche_ershoudiandongche_ershouzixingche" style="display: none">
						<table>
							<tr>
								<td valign="top" class="attribute">
									成色：
								</td>
								<td valign="top" class="inputTd">
									<select name="other_attrs_成色" style="width:100px;">
										<option value="">&nbsp;</option>
										<option value="全新">全新</option>
										<option value="95成新">95成新</option>
										<option value="9成新">9成新</option>
										<option value="8成新">8成新</option>
										<option value="7成新">7成新</option>
										<option value="6成新及以下">6成新及以下</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<!-- input chengse1 -->
					<!-- input jiage0 -->
					<div class="item" item_for="diannao_shouji_shoujihaoma_zhaoxiangji_shuma_dianqi_jiaju_riyongping_fushi_xiemao_yinger_huazhuangping_shu_yueqi_yundongqicai_shoucang_quan_huochepiao_qitazhuanrang_ershoujiaoche_ershouhuoche_ershoumotuoche_ershoudiandongche_ershouzixingche_zhengzu_hezu_ershoufang_xiezilou_jingyingzhuanrang_duanzu" style="display: none">
						<table>
							<tr>
								<td class="attribute">
									<span class="red">*</span>价格：
								</td>
								<td class="inputTd">
									<input type="text" maxlength="10" size="10" class="input" name="other_attrs_价格" style="text-align: right;" value="元">
								</td>
					      </tr>
						</table>
					</div>
					<!-- input jiage1 -->
					<!-- input faburen0 -->
					<div class="item" item_for="diannao_shouji_zhaoxiangji_shuma_dianqi_jiaju_fushi_xiemao_yinger_huazhuangping_yueqi_yundongqicai_shoucang_qitazhuanrang_ershoujiaoche_ershouhuoche_ershoumotuoche_ershoudiandongche_ershouzixingche" style="display: none">
						<table>
							<tr>
								<td class="attribute">
									<span class="red">*</span>发布人：
								</td>
								<td class="inputTd">
									<input id="shangjia" type="radio" name="other_attrs_发布人" value="商家"><label for="shangjia">商家</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="geren" type="radio" name="other_attrs_发布人" value="个人"><label for="geren">个人</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
								</td>
					      </tr>
						</table>
					</div>
					<!-- input faburen1 -->
					<!-- input content0 -->
					<div class="item">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>描述：
								</td>
								<td valign="top" class="inputTd">
									<textarea name="content" style="width:500px" rows="7" cols="70" class="textarea field">

联系方式：</textarea>
								</td>
							</tr>
						</table>
					</div>
					<!-- input content1 -->
					<!-- input password0 -->
					<div class="item">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>设置密码：
								</td>
								<td valign="top" class="inputTd">
									<input type="password" name="password" value="" class="input required" maxlength="16" size="20"/>
								</td>
							</tr>
						</table>
					</div>
					<!-- input password1 -->
					<!-- input password confirm0 -->
					<div class="item">
						<table>
							<tr>
								<td valign="top" class="attribute">
									<span class="red">*</span>再次输入密码：
								</td>
								<td valign="top" class="inputTd">
									<input type="password" name="passwor_confirm" value="" class="input field required" maxlength="16" size="20"/>
								</td>
							</tr>
						</table>
					</div>
					<!-- input password confirm1 -->
					<!-- input submit0 -->
					<div class="item">
						<table>
							<tr>
								<td valign="top" class="attribute"></td>
								<td valign="top" class="inputTd">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td style="vertical-align:middle">
												<button type="submit" class="button">立即免费发布</button>
											</td>
											<td style="vertical-align:middle">
												<span style="font-size:12px;">
													&nbsp;发布即代表您已阅读并同意
													<a href="/user.html" target="_blank"><%=SITE_TITLE%>用户协议</a>
												</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<!-- input submit1 -->
				</div>
			</form>
			<!-- post form1 -->
		</div>
	</div>
</div>
<!-- content1 -->

<%
	@title = "免费发布信息(无需注册) - " + SITE_TITLE
%>