<style>
	body{line-height:1.6;font-family:Arial,Helvetica,sans-serif;font-size:12px;background:#FFFCCC;}
	body,hr,form,p,img{margin:0;padding:0;border:0;}
	a:link{color:#06C;text-decoration:none;}
	a:visited{color:#800080;text-decoration:none;}
	.nohist a:visited{color:#06C;}
	.nohist a:hover,a:hover{color:#F00;text-decoration:underline;}
	#header,#subheader,#footer,#container{width:980px;margin:0 auto;padding:0 10px 10px 10px;}
	#header{padding:4px 10px;background:#FFFCCC;}
	#footer{padding-top:10px;text-align:center;}
	#container{background:#FFFFFF;border:1px solid #B1D5F2;}
	#subheader{background:#FFFFFF;padding:5px 0 5px 0;}
	#content{background:#FFFFFF;width:800px;float:left}
	#sidebar{width:160px;float:right;border-left:1px solid #C5EC83/*#C0C0C0*/;padding:5px 0px 5px 10px;}
	.block h2{background-color:#C5EC83;margin:0;padding:2px 5px;font-size:14px;}
	.block h3{margin:0;padding:2px 0;font-size:14px;}
	.blank5,.blank10{height:10px;clear:both;overflow:hidden;}
	.blank5{height:5px;}
	.datagrid ul,.datagrid ol{margin:0;padding:0;}
	.datagrid li{line-height:2;font-size:14px;list-style:none;}
	table.tab{table-layout:auto;}
	table.tab td{font-size:14px;padding:0 8px;text-align:center;border-bottom:1px solid #C5EC83;}
	table.tab .on{border:1px solid #C5EC83;border-bottom:0;font-weight:bold;}
	table.tab a:visited{color:#06C;}
	table.tab a:hover,a:hover{color:#F00;text-decoration:underline;}
	#filter{padding:5px 5px;border:1px solid #C5EC83;line-height:1.8}
	#filter a,#filter strong{padding-left:5px;}
	#filter a:visited{color:#06C;}
	#filter a:hover,a:hover{color:#F00;text-decoration:underline;}
	.datagrid ol{margin-top:5px;}
	.datagrid ol a,.datagrid li,.datagrid b,.datagrid i,.datagrid em{padding-left:5px;font-style:normal;}
	.datagrid ol li i{color:olive;}
	.datagrid ol li b{font-weight:normal;color:#666;}
	.datagrid ol li em a{background:#EEE;padding:2px;}
	.datagrid ul li em a,.datagrid ul li em a:hover{color:black;}
	.datagrid .head{background:#C5EC83;font-weight:bold;}
	.datagrid .head a{color:black;}
	.datagrid .line{overflow:hidden;height:1px;background:#C5EC83;}
	h1{font-size:20px;font-family:微软雅黑,黑体;font-weight:normal;margin:5px 0;}
	h1 i{color:olive;}
	#content p{font-size:14px;line-height:23px;}
	#content img{margin:0 0 0 3px;}
	#logo{margin:0 5px 0 0;display:block;float:left;}
	#area{margin:18px 5px 0 5px;display:block;float:left;font-size:30px;font-family:微软雅黑,黑体;font-weight:bold;color:#0D0057;line-height:1;}
	h3{margin:0;font-size:14px;}
	#categories{width:810px;padding:5px 0;margin-left:-5px;float:left;background-color:white;}
	#categories table{font-size:14px;}
	#categories h2{margin:0;padding:2px 0;background-color:#C5EC83;}
	#categories h2 a{color:black;font-size:14px;}
	#categories td{vertical-align:top;width:20%;}
	#categories a,#categories span{padding-left:5px;}
	#categories small{padding-left:2px;font-size:9px;color:#666;}
</style>

<!-- header0 -->
<div id="header" class="nohist">
	<span id="header_links" style="float:right;text-align:right">
		<%= render :partial=>'share/header' %>
	</span>
	<a href="/"><%=@ct.name+SITE_TITLE%></a>
	<% if !@pc %>
	 &raquo; <%=@c.name%>
	<% else %>
	 &raquo; <a href="/message/list?category=<%=@pc.slug%>"><%=@pc.name%></a> &raquo; <%=@c.name%>
	<% end %>
	<div style="clear:both"></div>
</div>
<!-- header1 -->

<!-- content0 -->
<div id="container">
	<!-- subheader0 -->
	<div id="subheader" style="border-bottom:1px solid #C5EC83;">
		<h1>
			<% if !@m.site_url.blank? %>
			<a href="<%=@m.site_url%>">
			<% else %>
			<a href="/message/<%=@m.id%>">
			<% end %>
			<img src="/images/site/<%=@m.site%>.ico">
			</a>
			<%=@m.title%>
		</h1>
	</div>
	<!-- subheader1 -->
	<div id="sidebar"></div>
	<div id="content" style="float:none;">
		<div id="jubaoBox" style="float:right;padding:10px;margin:5px 0;border:1px solid #B1D5F2; text-align:center;">
			&#155; <a href="javascript:void(alert('谢谢举报！'))">举报：这是色情信息</a><br/>
			&#155; <a href="javascript:void(alert('谢谢举报！'))">举报：这是骗子信息</a><br/>
			&#187; <a href="javascript:void(alert('谢谢举报！'))">举报其他问题</a>
		</div>
		<%
			if @m.site == 'baixing'
				require 'open-uri'
				m_url = @m.site_url
				m_page = Nokogiri::HTML(open(m_url))
				content = m_page.at_css("div#content p")
		%>
		<%= raw content.to_html.gsub('联系我时请说明是在百姓网看到的，谢谢！', '').gsub('联系时，别忘了询问百姓网用户有什么特别优惠。','') %>
		<% else %>
		<p>
			发布时间：<%= @m.publish_time.strftime("%m月%d日%H:%M") %>
			<br/>
			所在地：<%=@m.area_id ? Area.find(@m.area_id).name : ''%><%=@m.location_id ? '，'+Location.find(@m.location_id).name : ''%>
			<br/>
			<% @m.other_attrs.split(Message::PS).each do |t| %>
				<%=t.split(Message::KVS)[0]%>：<%=raw whitelist t.split(Message::KVS)[1]%>
				<br/>
			<% end if @m.other_attrs%>
			
			<br/>
			<%= raw whitelist @m.content %>
		</p>
		<% end %>
		<p>联系我时请说明是在 <a href="http://<%=SITE_DOMAIN%>"><%=SITE_TITLE%></a> 看到的，谢谢！</p>
		
		<% @m.images_path.split(Message::IMGS).each do |i| %>
		<img src="<%=i.gsub('.','_c.')%>" >
		<% end if !@m.images_path.blank? %>
	
		<div id="manage" style="border-top: 1px solid rgb(235, 235, 235); margin-top: 5px; padding: 5px;" class="nohist">
			信息编号：<span id="adId"><%=@m.id%></span> &nbsp;
			查看次数：<span id="counter"><%=@m.views_count%></span> &nbsp;
			发布人IP：<%=@m.ip%> | 
			<% if !@m.user_id.blank? && login? && @m.user_id == login_user.id %>
			<a href="/message/<%=@m.id%>/edit">修改</a> | 
			<a href="/message/<%=@m.id%>/delete">删除</a> | 
			<% elsif @m.site == '800' %>
			<a href="/message/<%=@m.id%>/validate_message?rd_action=edit">修改</a> | 
			<a href="/message/<%=@m.id%>/validate_message?rd_action=delete">删除</a> | 
			<% end %>
			<a href="/message/<%=@m.id%>/shuaxin" target="_blank">刷新</a> | 
			<a href="/message/<%=@m.id%>/zhiding" target="_blank">置顶</a> | 
			<a href="/message/<%=@m.id%>/tuiguang" target="_blank">定向推广</a> | 
			<a href="/message/<%=@m.id%>/zhuanfa" target="_blank">转发给朋友</a>
		</div>
		<div id="datagrid" class="datagrid" style="margin:10px 0;">
			<ul></ul>
			<div class="line"></div>
		</div>
	</div>
</div>
<!-- content1 -->

<%
	@title = @m.title + " - " + SITE_TITLE
%>