<style type="text/css">
	body{line-height:1.6;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
	body,hr,form,p,img{margin:0;padding:0;border:0;}
	a:link{color:#06C;text-decoration:none;}a:visited{color:#800080;text-decoration:none;}
	.nohist a:visited{color:#06C;}.nohist a:hover,a:hover{color:#F00;text-decoration:underline;}
	#header,#footer,#container{width:980px;margin:0 auto;clear:both;padding:0 10px;}#header{padding:8px 10px;border-bottom:1px solid #CCC;background:#FFFCCC;}
	#footer{border-top:1px solid #ccc;padding-top:10px;text-align:center;}
	#content{width:770px;float:left;}#content h1{font-size:20px;font-family:黑体;font-weight:normal;margin:5px 0;}
	#content h1 i{color:olive;}#contentp{font-size:14px;line-height:23px;}#content img{margin:0 0 0 3px;}
	#sidebar{width:170px;float:right;border-left:1px solid #C0C0C0;padding:10px;}
	.block h2{background-color:#C5EC83;margin:0;padding:2px 5px;font-size:14px;}
	.block h3{margin:0;padding:2px 0;font-size:14px;}
	.blank5,.blank10{height:10px;clear:both;overflow:hidden;}.blank5{height:5px;}
	h3{margin:0;font-size:14px;}#logo{margin:0 5px 0 0;display:block;float:left;}
	#area{margin:18px 5px 0 5px;display:block;float:left;font-size:30px;font-family:微软雅黑,黑体;font-weight:bold;color:#0D0057;line-height:1;}
	#categories{width:810px;padding:5px 0;margin-right:5px;float:left;background-color:white;border:1px solid #B1D5F2;}
	#categories table{font-size:14px;}#categories h2{margin:0;padding:2px 0;background-color:#C5EC83;}
	#categories h2 a{color:black;font-size:14px;}#categories td{vertical-align:top;width:20%;}
	#categories a,#categories span{padding-left:5px;}#categories small{padding-left:2px;font-size:9px;color:#666;}
	#cities{width:150px;padding:5px;float:left;border:1px solid #B1D5F2;}
	#filter a,#filter strong{padding-left:5px;}
	.datagrid ul,.datagrid ol{margin:0;padding:0;}.datagrid li{line-height:2;font-size:14px;list-style:none;}
	.datagrid ol a,.datagrid li,.datagrid b,.datagrid i,.datagrid em{padding-left:5px;font-style:normal;}
	.datagrid ol li i{color:olive;}.datagrid ol li b{font-weight:normal;color:#666;}.datagrid ol li em a{background:#EEE;padding:2px;}
	.datagrid ul li em a,.datagrid ul li em a:hover{color:black;}
	.datagrid .head{background:#C5EC83;font-weight:bold;}.datagrid .head a{color:black;}
	.datagrid .line{overflow:hidden;height:1px;background:#C5EC83;}
</style>

<!-- header0 -->
<div id="header" class="nohist">
	<span id="header_links" style="float: right; text-align: right;">
		<span id="loginBox">
			<a href="/zhuce">注册</a> | <a href="/denglu">登录</a>
		<br/>
		</span>
		<span style="font-size: 20px; line-height: 1.5;">
		<strong>
		<a href="/fabu">免费发布信息</a></strong> | <a href="/xiugai">修改删除信息</a>
		</span>
	</span>
	<a href="/" id="logo"><img src="/images/logo.gif" alt="<%= SITE_TITLE %>"></a>
	<a href="/" id="area"><%=@ct.name%></a>
	<div style="clear: both;"></div>
</div>
<!-- header1 -->

<!-- content0 -->
<div id="container">
	<div class="blank5"></div>
	<div id="categories" class="nohist">
		<!-- area0 -->
		<%
			@as = Area.find_all_by_city_id(@ct.id)
			if @as.size > 0
		%>
		<div id="areas">
			<% if params[:area] %>
				<%	@a = Area.find_by_slug(params[:area]) %>
				<a href="/">全<%=@ct.name%></a>
			<% else %>
				<span>全<%=@ct.name%></span>
			<% end %>
			<% @as.each do |a| %>
				<% 	if @a && @a.slug == a.slug %>
					<span><%=a.name%></span>
				<% 	else %>
					<a href="/?area=<%=a.slug%>"><%=a.name%></a>
				<% 	end %>
			<% end %>
		</div>
		<%	end %>
		<!-- area1 -->
		<!-- categories0 -->
		<table width="100%" border="0" cellpadding="0" cellspacing="5">
			<tbody>
				<tr>
					<td>
						<!-- 1.物品交易0 -->
						<% @pc1 = Category.find(1) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc1.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc1.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc1.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
					</td>
					<td>
						<!-- 2.二手车买卖0 -->
						<% @pc2 = Category.find(2) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc2.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc2.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc2.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
						<!-- 3.房屋租售0 -->
						<% @pc3 = Category.find(3) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc3.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc3.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc3.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
						<!-- 4.宠物0 -->
						<% @pc4 = Category.find(4) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc4.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc4.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc4.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
					</td>
					<td>
						<!-- 5.招聘0 -->
						<% @pc5 = Category.find(5) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc5.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc5.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc5.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
					</td>
					<td>
						<!-- 6.兼职0 -->
						<% @pc6 = Category.find(6) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc6.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc6.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc6.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
						<!-- 7.求职0 -->
						<% @pc7 = Category.find(7) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc7.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc7.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc7.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
						<!-- 8.交友活动0 -->
						<% @pc8 = Category.find(8) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc8.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc8.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc8.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
					</td>
					<td>
						<!-- 9.生活服务0 -->
						<% @pc9 = Category.find(9) %>
						<div class="block">
							<h2>
								<a href="/message/list?category=<%= @pc9.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= @pc9.name %></a>
							</h2>
						</div>
						<% Category.find_all_by_parent_category_id(@pc9.id).each do |c| %>
						<a href="/message/list?category=<%= c.slug%><%=@a ? '&area=' + @a.slug : ''%>" target="_blank"><%= c.name %></a><small>(<%= Message.count(:conditions => "is_deleted = 0 and is_archived = 0 and category_id = #{c.id} and city_id = #{@ct.id}" + (@a ? " and area_id = #{@a.id.to_s}" : "")) %>)</small>
						<br/>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- categories1 -->
		<!-- search0 -->
		<form id="search" method="get" action="/search" style="float: right; padding: 0pt 5px; text-align: right;">
			<input size="18" name="keyword" type="text">
			<select name="category">
				<option selected="selected" value="root">请选择类目</option>
				<option value="ershou">物品交易</option>
				<option value="cheliang">二手车买卖</option>
				<option value="fang">房屋租售</option>
				<option value="chongwuleimu">宠物</option>
				<option value="gongzuo">招聘</option>
				<option value="jianzhi">兼职</option>
				<option value="qiuzhi">求职</option>
				<option value="huodong">交友活动</option>
				<option value="fuwu">生活服务</option>
			</select>
			<input value="搜索" title="在百姓网搜索" type="submit">
		</form>
		<!-- search1 -->
	</div>
	<!-- cities0 -->
	<div id="cities" class="nohist">
		<h3>全国其他城市</h3>
		<!-- city1 -->
		<div style="float: left; width: 33%;">
			<a href="http://shijiazhuang.<%=SITE_DOMAIN%>/">石家庄</a>
			<br/>
			<a href="http://langfang.<%=SITE_DOMAIN%>/">廊坊</a>
			<br/>
			<a href="http://baoding.<%=SITE_DOMAIN%>/">保定</a>
			<br/>
			<a href="http://shenyang.<%=SITE_DOMAIN%>/">沈阳</a>
			<br/>
			<a href="http://jinan.<%=SITE_DOMAIN%>/">济南</a>
			<br/>
			<a href="http://zhengzhou.<%=SITE_DOMAIN%>/">郑州</a>
			<br/>
			<a href="http://tangshan.<%=SITE_DOMAIN%>/">唐山</a>
			<br/>
			<a href="http://guangzhou.<%=SITE_DOMAIN%>/">广州</a>
			<br/>
			<a href="http://taiyuan.<%=SITE_DOMAIN%>/">太原</a>
			<br/>
			<a href="http://qingdao.<%=SITE_DOMAIN%>/">青岛</a>
			<br/>
			<a href="http://xian.<%=SITE_DOMAIN%>/">西安</a>
			<br/>
			<a href="http://cangzhou.<%=SITE_DOMAIN%>/">沧州</a>
			<br/>
			<a href="http://weifang.<%=SITE_DOMAIN%>/">潍坊</a>
			<br/>
			<a href="http://dalian.<%=SITE_DOMAIN%>/">大连</a>
			<br/>
			<a href="http://xingtai.<%=SITE_DOMAIN%>/">邢台</a>
			<br/>
			<a href="http://shenzhen.<%=SITE_DOMAIN%>/">深圳</a>
			<br/>
			<a href="http://wuhan.<%=SITE_DOMAIN%>/">武汉</a>
			<br/>
			<a href="http://changchun.<%=SITE_DOMAIN%>/">长春</a>
			<br/>
			<a href="http://handan.<%=SITE_DOMAIN%>/">邯郸</a>
			<br/>
			<a href="http://haerbin.<%=SITE_DOMAIN%>/">哈尔滨</a>
		</div>
		<!-- city2 -->
		<div style="float: left; width: 33%;">
			<a href="http://shanghai.<%=SITE_DOMAIN%>/">上海</a>
			<br/>
			<a href="http://beijing.<%=SITE_DOMAIN%>/">北京</a>
			<br/>
			<a href="http://tianjin.<%=SITE_DOMAIN%>/">天津</a>
			<br/>
			<a href="http://haerbin.<%=SITE_DOMAIN%>/">哈尔滨</a>
			<br/>
			<a href="http://changchun.<%=SITE_DOMAIN%>/">长春</a>
			<br/>
			<a href="http://shenyang.<%=SITE_DOMAIN%>/">沈阳</a>
			<br/>
			<a href="http://dalian.<%=SITE_DOMAIN%>/">大连</a>
			<br/>
			<a href="http://jinan.<%=SITE_DOMAIN%>/">济南</a>
			<br/>
			<a href="http://qingdao.<%=SITE_DOMAIN%>/">青岛</a>
			<br/>
			<a href="http://shijiazhuang.<%=SITE_DOMAIN%>/">石家庄</a>
			<br/>
			<a href="http://taiyuan.<%=SITE_DOMAIN%>/">太原</a>
			<br/>
			<a href="http://zhengzhou.<%=SITE_DOMAIN%>/">郑州</a>
			<br/>
			<a href="http://xian.<%=SITE_DOMAIN%>/">西安</a>
			<br/>
			<a href="http://chongqing.<%=SITE_DOMAIN%>/">重庆</a>
			<br/>
			<a href="http://chengdu.<%=SITE_DOMAIN%>/">成都</a>
			<br/>
			<a href="http://wuhan.<%=SITE_DOMAIN%>/">武汉</a>
			<br/>
			<a href="http://changsha.<%=SITE_DOMAIN%>/">长沙</a>
			<br/>
			<a href="http://nanjing.<%=SITE_DOMAIN%>/">南京</a>
			<br/>
			<a href="http://suzhou.<%=SITE_DOMAIN%>/">苏州</a>
			<br/>
			<a href="http://hangzhou.<%=SITE_DOMAIN%>/">杭州</a>
			<br/>
			<a href="http://ningbo.<%=SITE_DOMAIN%>/">宁波</a>
			<br/>
			<a href="http://xiamen.<%=SITE_DOMAIN%>/">厦门</a>
			<br/>
			<a href="http://hefei.<%=SITE_DOMAIN%>/">合肥</a>
			<br/>
			<a href="http://guangzhou.<%=SITE_DOMAIN%>/">广州</a>
			<br/>
			<a href="http://shenzhen.<%=SITE_DOMAIN%>/">深圳</a>
			<br/>
			<a href="http://nanning.<%=SITE_DOMAIN%>/">南宁</a>
			<br/>
			<a href="http://haikou.<%=SITE_DOMAIN%>/">海口</a>
		</div>
		<!-- city3 -->
		<div style="float: left; width: 33%;">
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=广东">广东</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=辽宁">辽宁</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=江苏">江苏</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=湖北">湖北</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=四川">四川</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=陕西">陕西</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=黑龙江">黑龙江</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=山东">山东</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=安徽">安徽</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=广西">广西</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=甘肃">甘肃</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=新疆">新疆</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=宁夏">宁夏</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=海南">海南</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=河北">河北</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=山西">山西</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=河南">河南</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=吉林">吉林</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=内蒙古">内蒙古</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=浙江">浙江</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=福建">福建</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=云南">云南</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=江西">江西</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=湖南">湖南</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=贵州">贵州</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=西藏">西藏</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list?province=青海">青海</a>
			<br/>
			<a href="http://www.<%=SITE_DOMAIN%>/city/list">所有城市</a>
		</div>
	</div>
	<!-- cities1 -->
</div>
<!-- content1 -->

<%
	@title = @ct.name + SITE_TITLE
	@title = @ct.name + @a.name + SITE_TITLE if @a
%>