<style type="text/css">
	body { background:none repeat scroll 0 0 #FFFCCC; font-family:Arial,Helvetica,sans-serif; font-size:12px;
	line-height:1.6; } body, hr, form, p, img { border:0 none; margin:0; padding:0; } a:link { color:#0066CC;
	text-decoration:none; } a:visited { color:#800080; text-decoration:none; } .nohist a:visited { color:#0066CC; }
	.nohist a:hover, a:hover { color:#FF0000; text-decoration:underline; } #header, #subheader, #footer, #container {
	margin:0 auto; padding:0 10px 10px; width:980px; } #header { background:none repeat scroll 0 0 #FFFCCC; padding:4px
	10px; } #footer { padding-top:10px; text-align:center; } #container { background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #B1D5F2; } #subheader { background:none repeat scroll 0 0 #FFFFFF; padding:5px 0; } #content {
	background:none repeat scroll 0 0 #FFFFFF; float:left; width:800px; } #sidebar { border-left:1px solid #C5EC83;
	float:right; padding:5px 0 5px 10px; width:160px; } .block h2 { background-color:#C5EC83; font-size:14px; margin:0;
	padding:2px 5px; } .block h3 { font-size:14px; margin:0; padding:2px 0; } .blank5, .blank10 { clear:both; height:10px;
	overflow:hidden; } .blank5 { height:5px; } .datagrid ul, .datagrid ol { margin:0; padding:0; } .datagrid li {
	font-size:14px; line-height:2; list-style:none outside none; } table.tab { table-layout:auto; } table.tab td {
	border-bottom:1px solid #C5EC83; font-size:14px; padding:0 8px; text-align:center; } table.tab .on {
	border-color:#C5EC83 #C5EC83 -moz-use-text-color; border-style:solid solid none; border-width:1px 1px 0;
	font-weight:bold; } table.tab a:visited { color:#0066CC; } table.tab a:hover, a:hover { color:#FF0000;
	text-decoration:underline; } #filter { border:1px solid #C5EC83; line-height:1.8; padding:5px; } #filter a, #filter
	strong { padding-left:5px; } #filter a:visited { color:#0066CC; } #filter a:hover, a:hover { color:#FF0000;
	text-decoration:underline; } .datagrid ol { margin-top:5px; } .datagrid ol a, .datagrid li, .datagrid b, .datagrid i,
	.datagrid em { font-style:normal; padding-left:5px; } .datagrid ol li i { color:olive; } .datagrid ol li b {
	color:#666666; font-weight:normal; } .datagrid ol li em a { background:none repeat scroll 0 0 #EEEEEE; padding:2px; }
	.datagrid ul li em a, .datagrid ul li em a:hover { color:black; } .datagrid .head { background:none repeat scroll 0 0
	#C5EC83; font-weight:bold; } .datagrid .head a { color:black; } .datagrid .line { background:none repeat scroll 0 0
	#C5EC83; height:1px; overflow:hidden; } h1 { font-family:微软雅黑,黑体; font-size:20px; font-weight:normal; margin:5px 0; }
	h1 i { color:olive; } #content p { font-size:14px; line-height:23px; } #content img { margin:0 0 0 3px; } #logo {
	display:block; float:left; margin:0 5px 0 0; } #area { color:#0D0057; display:block; float:left; font-family:微软雅黑,黑体;
	font-size:30px; font-weight:bold; line-height:1; margin:18px 5px 0; } h3 { font-size:14px; margin:0; } #categories {
	background-color:white; float:left; margin-left:-5px; padding:5px 0; width:810px; } #categories table {
	font-size:14px; } #categories h2 { background-color:#C5EC83; margin:0; padding:2px 0; } #categories h2 a {
	color:black; font-size:14px; } #categories td { vertical-align:top; width:20%; } #categories a, #categories span {
	padding-left:5px; } #categories small { color:#666666; font-size:9px; padding-left:2px; }
	img.imgBorder{padding:5px;background:#FFF;border:1px solid #EBEBEB;margin:2px;}
	table{border-collapse:collapse;border-spacing:0;} #content{ color:#000; font-size:14px;} #content .w760{ width:740px;
	margin:0 auto 5px auto; font-size:14px;} div.tips{ font-size:12px;background:#FFFFCC
	url(/images/tips_bg.gif) no-repeat 5px 5px; padding:5px 5px 5px 40px; border:1px
	solid #FFE3B9;color:#000;} .errMsg{ border:1px solid #FF0000; padding:5px; background:#FEE9E1
	url(/images/error-32.gif) no-repeat 5px 10px; padding-left:45px; color:#000}
	.successMsg{border:1px solid #5EBF01; padding:5px; background:#E7FBC0
	url(/images/success-32.gif) no-repeat 5px 10px; padding-left:45px; color:#000}
	.alertMsg{border:1px solid #FFE304; padding:5px 10px; margin:10px 0; background:#FEF8D1;color:#000} #postForm .item
	li{display:inline;margin-right:5px;} #postForm .item li a{white-space:nowrap; } #postForm table label{white-space:
	normal;} * html #postForm table label{white-space:nowrap;} *+html #postForm table label{white-space:nowrap;} /*post v2
	*/ #postForm .item{ clear:both; padding:2px; margin:1px 0; width:980px;} #postForm .item td.attribute {
	width:120px;text-align:right;} #postForm .item td{ vertical-align:top; line-height:21px;} #postForm .item
	.value,#postForm .item .attribute{ padding-top:2px;} #postForm .item td.value{ padding-left:5px; color:#000} #postForm
	#imagesTable{width:580px;} #postForm #imagesUl li{ width:90px; text-align: center; float:left;} #postForm #imagesUl
	.imgUpload{ border:1px solid #FFD06F;padding:9px;background:#FFF; margin:2px;} #postForm #imagesUl .imgUpError{
	border:1px solid #FF6666; background:url(/images/img_error.gif) no-repeat 5px 5px;
	padding:5px;margin:2px; text-align:center; width:64px; height:64px;} #postForm .item .postFormCheckBox li{
	height:21px; display:block; float:left; max-width: 200px; min-width:140px;} *html #postForm .item .postFormCheckBox
	li{ width:140px} *+html #postForm .item .postFormCheckBox li{ width:140px} #postForm .item .postFormRadio li{
	height:21px; display:block; float:left; max-width: 200px; min-width:140px;} *html #postForm .item .postFormRadio li{
	width:140px} *+html #postForm .item .postFormRadio li{ width:140px} /*form*/ .input,.textarea{padding:3px 2px 1px 2px;
	font-size:14px;border-top:1px solid #666666; border-left:1px solid #666666; border-bottom:1px solid #C2C2C2;
	border-right:1px solid #C2C2C2; background:#F5F5F5;} .textarea{ line-height:1.35;width:580px;} .button{padding:5px
	20px; font-size:14px;} #optContent{border:1px solid #DDD} #optContent table td{padding:2px;} #categoryBox div{
	width:150px; float:left; padding-bottom:5px; margin-left:5px;} #categoryBox h2{line-height:1.7; padding-left:5px;
	background:#F3F3F3; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;} #categoryBox
	li{font-size:14px;line-height:1.7; width:140px;padding-left:5px;} .checkError{ background:#FEE9E1
	url(/images/error.gif) no-repeat 3px 4px; padding-left:20px; font-size:12px;
	color:#FF0000} .error,.ok,.load{padding:2px 5px 2px 25px; color:#000; font-size:12px;} .error{ border:1px solid
	#FF0000; background:#FEE9E1 url(/images/error.gif) no-repeat 5px 6px;} .ok{
	border:1px solid #5EBF01; background: #E7FBC0 url(/images/ok.gif) no-repeat 5px 6px;}
	.load{ border:1px solid #FFBD33; background: #FFFFCC url(/images/ajax_loader.gif) no-repeat 5px 6px;}
	.succeed{clear:both;margin-bottom:10px;border:2px solid #5ABD00; padding:10px 5px 10px 50px;background:#E7FBC0
	url(/images/success-32.gif) no-repeat 7px 7px;} .succeed h2{ padding:5px;
	margin:0; font-size:14px;} .succeed p{ padding:0; margin:0;} .succeed .red{ color: #FF0000} .item label{
	cursor:pointer} .hidden{display:none;} #content #firstCategory,#content #secondCategory{line-height:1.5;
	font-size:14px;} #firstCategory{ border:1px solid #7F9DB9; padding:1px; width:100px; background:#fff} #firstCategory
	div{border:1px solid #716F64; border-bottom:1px solid #F1EFE2; border-right:1px solid #F1EFE2} #content #firstCategory
	a{text-decoration:none; border:1px solid #fff;width:95px; padding-left:5px; display:block; background:#fff;
	white-space:nowrap; color:#000} #content #firstCategory a:hover{background:#316AC5
	url(/images/3-4.gif) no-repeat 90px 6px; color:#fff;text-decoration:none; } #content
	#firstCategory a.on{ background:#316AC5 url(/images/3-4.gif) no-repeat 90px 6px;
	color:#fff;text-decoration:none;} #content #secondCategory table{ background:#fff;border:1px solid #716F64;
	border-bottom:1px solid #F1EFE2; border-right:1px solid #F1EFE2} #content #secondCategory a{display:block;
	width:135px;text-decoration:none; border:1px solid #fff;padding-left:5px; white-space:nowrap;
	color:#000;line-height:1.5; font-size:14px;} #content #secondCategory div{border:1px solid #7F9DB9; padding:1px;
	background:#fff; position: relative; z-index:98} #categoryCheck{ position:relative; z-index:99} #content
	#secondCategory a:hover{background:#316AC5; color:#fff;text-decoration:none; } #content #secondCategory
	a.on{background:#316AC5; color:#fff;text-decoration:none;} #jiantou,#categoryBox{ display:none;} #selectedCategory small{
	font-size:12px;} #postNav{ line-height:1.8;} #bangui{border:1px solid #fff; position:absolute; background:#FAFAFA;
	top:42px; margin-left:700px; width:270px; padding:5px 10px; font-size:12px} #content select{ font-size:14px;}
	span.red{color:red} /*beta*/ img.imgBorderBeta{padding:9px;background:#FFF;border:1px solid #EBEBEB;margin:2px;}
	span.imgBeta{ display:block; background:#EEEEF0; font-size:12px; padding:2px 0 0 0; color:#5B5B68; margin:0 3px;
	margin-top:-2px; border:1px solid #EEEEE7} #postTable{background:url(/images/jiantou.gif) no-repeat -500px 0;}
	.red{color:#FF0000} form{padding:0; margin:0} #denglu{ top:5px; right:15px;position:absolute} td{font-size:14px;}
</style>


<script>
function checkForm(v)  {
	var uv = v.login.value;
	if(uv == ''){
		alert('用户名不能为空！');
		return false;
	}
	if(uv.length < 4){
		alert('用户名的长度要在4个字符以上！');
		return false;
	}
	if(v.password.value == ''){
		alert('密码不能为空！');
		return false;
	}
	if(v.password.value.length < 4){
		alert('密码的长度要在4个字符以上！');
		return false;
	}
	if(v.password_confirm.value == ''){
		alert('请再输一次你的密码！');
		return false;
	}
	if(v.password_confirm.value != v.password.value){
		alert('两次输入的密码不相同，请重新输入！');
		return false;
	}
	return true;
}
</script>

<!-- header0 -->
<div id="header" class="nohist">
	<span id="header_links" style="float:right;text-align:right">
		<%= render :partial=>'share/header' %>
	</span>
	<a href="/"><%=SITE_TITLE%></a>
	&raquo; 用户注册
	<div style="clear:both">
	</div>
</div>
<!-- header1 -->

<!-- content0 -->
<div id="container">
	<div id="content">
		<h1 style="font-size:20px;font-weight:bold;margin-bottom:10px;">用户注册</h1>
		<p style="margin-bottom:20px;"><b><%=SITE_TITLE%>可以不注册<a href="/message/new">直接发布信息</a>！</b>那么，注册以后有什么不一样的地方？<br />
			<ul style="margin-top:-16px;">
				<li>注册后不用每次发布信息都输入密码，查找和管理已发布信息更方便</li>
				<li>注册用户可以先充值再使用付费服务，充值赠送刷新抵用券</li>
				<li>注册用户可以升级成为VIP用户，获得更多收费服务折扣（<a href="#">VIP用户特权</a>）</li>
			</ul>
		</p>
		<div class="block">
			<h2>马上注册</h2>
			<form method="post" action="" id="zhuceForm" onsubmit="return checkForm(this)">
				<% if request.referrer.include?(request.request_uri) && flash[:error] %>
				<div style="color: red; margin: 8px;"><%= flash[:error] %></div>
				<% end %>
				<table width="500" border="0" cellpadding="2" cellspacing="2">
					<tr>
						<td width="120" align="right" valign="top">
							<span class="red"> * </span> 用户名：
						</td>
						<td width="160">
							<input type="text" maxlength="20" name="login" id="login" size="20" class="input" value="" />
						</td>
						<td>
							4个字符以上
						</td>
					</tr>
					<tr>
						<td align="right" valign="top">
							<span class="red"> * </span> 登录密码：
						</td>
						<td>
							<input type="password" maxlength="20" name="password" id="password" size="20" class="input" value="" />
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="right" valign="top">
							<span class="red"> * </span> 重复登录密码：
						</td>
						<td>
							<input type="password" maxlength="20" name="password_confirm" id="password_confirm" size="20" class="input" value="" />
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="right" valign="top">&nbsp;</td>
						<td>
							<input type="submit" id="tijiao" value="注 册" style="padding:4px;font-size:14px;"/>
						</td>
						<td></td>
					</tr>
					<tr>
						<td align="right" valign="top"></td>
						<td colspan="2">
							注册即代表您已阅读并同意<a href="/user.html" target="_blank">《<%=SITE_TITLE%>用户协议》</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div id="sidebar">
	</div>

	<div style="clear:both;"></div>
</div>
<!-- content1 -->

<%
	@title = "用户注册 - " + SITE_TITLE
%>